<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<div th:fragment="adstop" class="justify-content-center" style="margin-top: 12%"><center>
    <!-- Banner Ads start here -->
    <div class="mobileNone">
        <a class="adBanner displayNone" id="desktopAdBanner1" href="https://www.amazon.co.uk/dp/B00UH2O6T2?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/d1.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner2" href="https://www.amazon.co.uk/gp/dmusic/promotions/PrimeMusic">
            <img th:src="@{/img/d2.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner3" href="https://www.amazon.co.uk/dp/B00IOY524S?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/d3.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner4" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=7165873031">
            <img th:src="@{/img/d4.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner5" href="https://www.amazon.co.uk/gp/video/offers/ref=atv_pv_new_offer?ie=UTF8&amp;linkCode=ur1&amp;tag=topbantz2018-21">
            <img th:src="@{/img/d5.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner6" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=340837031">
            <img th:src="@{/img/d6.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner7" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=560798">
            <img th:src="@{/img/d7.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner8" href="https://www.amazon.co.uk/l/283926?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/d8.jpg}" /></a>
    </div>

    <div class="desktopNone mobileNone">
        <a class="adBanner displayNone" id="mobileAdBanner1" href="https://www.amazon.co.uk/gp/dmusic/promotions/AmazonMusicUnlimited?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m1.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner2" href="https://www.amazon.co.uk/?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m2.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner3" href="https://www.amazon.co.uk/gp/dmusic/promotions/PrimeMusic">
            <img th:src="@{/img/m3.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner4" href="https://www.amazon.co.uk/dp/B00OPA2XFG?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m4.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner5" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=686204031">
            <img th:src="@{/img/m5.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner6" href="https://www.amazon.co.uk/dp/B00UH2O6T2?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m6.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner7" href="https://www.amazon.co.uk/dp/B01ETRIFOW?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m7.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner8" href="https://www.amazon.co.uk/dp/B00IOY524S?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m8.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner9" href="https://www.amazon.co.uk/dp/B010EK1GOE?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m9.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner10" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=468292&amp;lo=toys">
            <img th:src="@{/img/m10.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner11" href="https://www.amazon.co.uk/gp/video/primesignup/?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m11.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner12" href="https://www.amazon.co.uk/gp/student/signup/info?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m12.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner13" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=300703">
            <img th:src="@{/img/m13.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner14" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=229816">
            <img th:src="@{/img/m14.jpg}" />
        </a>
    </div>

    <a href="https://www.amazon.co.uk/?tag=topbantz2018-21&amp;linkCode=ur1" class="desktopNone">
        <div th:replace="fragments/slideshow :: slideshow"></div>
    </a>

</center>
    <!-- Banner Ads end here -->
</div>

<div th:fragment="adsbottom" class="justify-content-center">
    <!-- Banner Ads start here -->
    <center>
        <div class="mobileNone">
            <a class="adBanner displayNone" id="desktopAdBanner1_down" href="https://www.amazon.co.uk/dp/B00UH2O6T2?tag=topbantz2018-21&amp;linkCode=ur1">
                <img th:src="@{/img/d1.jpg}" /></a>
            <a class="adBanner displayNone" id="desktopAdBanner2_down" href="https://www.amazon.co.uk/gp/dmusic/promotions/PrimeMusic">
                <img th:src="@{/img/d2.jpg}" /></a>
            <a class="adBanner displayNone" id="desktopAdBanner3_down" href="https://www.amazon.co.uk/dp/B00IOY524S?tag=topbantz2018-21&amp;linkCode=ur1">
                <img th:src="@{/img/d3.jpg}" /></a>
            <a class="adBanner displayNone" id="desktopAdBanner4_down" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=7165873031">
                <img th:src="@{/img/d4.jpg}" /></a>
            <a class="adBanner displayNone" id="desktopAdBanner5_down" href="https://www.amazon.co.uk/gp/video/offers/ref=atv_pv_new_offer?ie=UTF8&amp;linkCode=ur1&amp;tag=topbantz2018-21">
                <img th:src="@{/img/d5.jpg}" /></a>
            <a class="adBanner displayNone" id="desktopAdBanner6_down" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=340837031">
                <img th:src="@{/img/d6.jpg}" /></a>
            <a class="adBanner displayNone" id="desktopAdBanner7_down" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=560798">
                <img th:src="@{/img/d7.jpg}" /></a>
            <a class="adBanner displayNone" id="desktopAdBanner8_down" href="https://www.amazon.co.uk/l/283926?tag=topbantz2018-21&amp;linkCode=ur1">
                <img th:src="@{/img/d8.jpg}" /></a>
        </div>

        <div class="desktopNone">
            <a class="adBanner displayNone" id="mobileAdBanner1_down" href="https://www.amazon.co.uk/gp/dmusic/promotions/AmazonMusicUnlimited?tag=topbantz2018-21&amp;linkCode=ur1">
                <img th:src="@{/img/m1.jpg}" />
            </a>
            <a class="adBanner displayNone" id="mobileAdBanner2_down" href="https://www.amazon.co.uk/?tag=topbantz2018-21&amp;linkCode=ur1">
                <img th:src="@{/img/m2.jpg}" />
            </a>
            <a class="adBanner displayNone" id="mobileAdBanner3_down" href="https://www.amazon.co.uk/gp/dmusic/promotions/PrimeMusic">
                <img th:src="@{/img/m3.jpg}" />
            </a>
            <a class="adBanner displayNone" id="mobileAdBanner4_down" href="https://www.amazon.co.uk/dp/B00OPA2XFG?tag=topbantz2018-21&amp;linkCode=ur1">
                <img th:src="@{/img/m4.jpg}" />
            </a>
            <a class="adBanner displayNone" id="mobileAdBanner5_down" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=686204031">
                <img th:src="@{/img/m5.jpg}" />
            </a>
            <a class="adBanner displayNone" id="mobileAdBanner6_down" href="https://www.amazon.co.uk/dp/B00UH2O6T2?tag=topbantz2018-21&amp;linkCode=ur1">
                <img th:src="@{/img/m6.jpg}" />
            </a>
            <a class="adBanner displayNone" id="mobileAdBanner7_down" href="https://www.amazon.co.uk/dp/B01ETRIFOW?tag=topbantz2018-21&amp;linkCode=ur1">
                <img th:src="@{/img/m7.jpg}" />
            </a>
            <a class="adBanner displayNone" id="mobileAdBanner8_down" href="https://www.amazon.co.uk/dp/B00IOY524S?tag=topbantz2018-21&amp;linkCode=ur1">
                <img th:src="@{/img/m8.jpg}" />
            </a>
            <a class="adBanner displayNone" id="mobileAdBanner9_down" href="https://www.amazon.co.uk/dp/B010EK1GOE?tag=topbantz2018-21&amp;linkCode=ur1">
                <img th:src="@{/img/m9.jpg}" />
            </a>
            <a class="adBanner displayNone" id="mobileAdBanner10_down" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=468292&amp;lo=toys">
                <img th:src="@{/img/m10.jpg}" />
            </a>
            <a class="adBanner displayNone" id="mobileAdBanner11_down" href="https://www.amazon.co.uk/gp/video/primesignup/?tag=topbantz2018-21&amp;linkCode=ur1">
                <img th:src="@{/img/m11.jpg}" />
            </a>
            <a class="adBanner displayNone" id="mobileAdBanner12_down" href="https://www.amazon.co.uk/gp/student/signup/info?tag=topbantz2018-21&amp;linkCode=ur1">
                <img th:src="@{/img/m12.jpg}" />
            </a>
            <a class="adBanner displayNone" id="mobileAdBanner13_down" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=300703">
                <img th:src="@{/img/m13.jpg}" />
            </a>
            <a class="adBanner displayNone" id="mobileAdBanner14_down" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=229816">
                <img th:src="@{/img/m14.jpg}" />
            </a>
        </div>
    </center>
    <!-- Banner Ads end here -->
</div>

</body>
</html>