<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Chat</title>
</head>
<body>
  <div th:fragment="chat(id, messages, isPrivate)" class="chat-bar margin-top">
    <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.1)" class="paddinger-20-nobottom">
      <h4 class="bold" style="color: #000 !important;"><th:block th:if="${isPrivate}">Private </th:block>Chat</h4>
    </div>

    <div class="paddinger-0-20">

      <!-- TODO
        That image reference is actually default profile image and somehow should be referenced dynamically
       -->
      <template id="chat-message-template">
        <div class="chat-message">
          <h7>
            <font class="bold chat-message-author">
              <img class="chat-message-author-pic"
                width="15px" height="15px" src="https://res.cloudinary.com/www-topbantz-com/image/upload/v1526408808/profile/default_profile_img_db827ygd08237gd40g.png" />
              <a class="chat-message-author-a" style="color: inherit;"></a>
            </font>
            <font class="chat-message-content chat-text">Some message here</font>
            <font class="chat-message-content chat-wrap">Audio message - click to reveal</font>
            <audio controls="controls">
              <source src="" type="audio/wav" />
            </audio>
          </h7>
        </div>
      </template>

      <div th:id="'chat-' + ${id}" class="chat-conversation">
        <center id="center-load-more">
          <a id="load-more" style="display: none;" href="javascript:void(0)">Load more</a>
        </center>
        
        <th:block th:each="message : ${messages}">
          <div class="chat-message">
            <h7>
              <font class="bold chat-message-author">
                <img class="chat-message-author-pic"
                  width="15px" height="15px"
                  th:attr="data-location=@{/getProfilePic/{user}(user=${message.username})}" />
                <a class="chat-message-author-a" style="color: inherit;"
                   th:text="'&nbsp;' + ${message.getUsername()} + '&nbsp;'" 
                   th:href="'/profile/' + ${message.getUsername()}"></a>
              </font>
              <font class="chat-message-content"
                th:if="${message.getMessageType().getText().equals('Text')}"
                th:text="${message.getText()}">Some message here</font>
              <audio th:if="${message.getMessageType().getText().equals('Audio')}" th:controls="controls">
                <source th:src="${message.getText()}" type="audio/wav" />
              </audio>
            </h7>
          </div>
        </th:block>

      </div>
    </div>

    <div style="border-top: 1px solid rgba(0, 0, 0, 0.1)" class="paddinger-20">
      <input id="message-text" type="text" class="input-message chat-field chat-field-large"
        placeholder="Write a message..." />
      <button class="btn btn-success" id="recordButton">
        <i id="notRecording" class="fa fa-microphone" style="color: white"></i>
        <i id="Recording" class="fa fa-circle" style="display: none; color: red"></i>
      </button>
      <input id="send-message-id" style="margin-left: 10px;" type="button" class="send-message btn btn-success"
        value="Send" />
    </div>

    <div style="display: none">
      <div id="viz">
        <canvas id="analyser" width="1024" height="350"></canvas>
        <br />
        <canvas id="wavedisplay" width="1024" height="350"></canvas>
      </div>
      <a id="save" class="btn btn-success" href="#">Download Audio</a>
    </div>

  </div>
 
  <th:block th:fragment="scripts(id, total)">
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script src="../static/js/audio/audiodisplay.js" th:src="@{/js/audio/audiodisplay.js}"></script>
    <script src="../static/js/audio/recorder.js" th:src="@{/js/audio/recorder.js}"></script>
    <script src="../static/js/audio/main.js" th:src="@{/js/audio/main.js}"></script>
    <script src="../static/js/chat.js" th:src="@{/js/chat.js}"></script>
    <script th:inline="javascript">
      $(document).ready(function(){
        var id = [[${id}]];
        var total = [[${total}]];
        new TMTPChat(id, total).init();
      })
    </script>
  </th:block>
</body>
</html>