<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Chat</title>
</head>
<body>
  <div th:fragment="chat(id, messages, isPrivate)" class="chat-bar margin-top">
    <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.1)" class="paddinger-20-nobottom">
      <h4 class="bold" style="color: #000 !important;"><th:block th:if="${isPrivate}">Private </th:block>Chat</h4>
    </div>

    <div class="paddinger-0-20">

      <div th:id="'chat-' + ${id}" class="chat-conversation">
        <center id="center-load-more">
          <a id="load-more" style="display: none;" href="javascript:loadMore();">Load more</a>
        </center>

        <th:block th:each="message : ${messages}">
          <div class="chat-message">
            <h7>
              <font class="bold chat-message-author">
                <img class="chat-message-author-pic"
                  width="15px" height="15px"
                  th:attr="data-location=@{/getProfilePic/{user}(user=${message.username})}" />
                <a class="chat-message-author-a" style="color: inherit;"
                   th:text="'&nbsp;' + ${message.getUsername()} + '&nbsp;'" 
                   th:href="'/profile/' + ${message.getUsername()}"></a>
              </font>
              <font class="chat-message-content"
                th:if="${message.getMessageType().getText().equals('Text')}"
                th:text="${message.getText()}">Some message here</font>
              <audio th:if="${message.getMessageType().getText().equals('Audio')}" th:controls="controls">
                <source th:src="${message.getText()}" type="audio/wav" />
              </audio>
            </h7>
          </div>
        </th:block>
      </div>
    </div>

    <div style="border-top: 1px solid rgba(0, 0, 0, 0.1)" class="paddinger-20">
      <input id="message-text" type="text" class="input-message chat-field chat-field-large"
        placeholder="Write a message..." />
      <button class="btn btn-success" id="recordButton" onclick="clickRecording(this)">
        <i id="notRecording" class="fa fa-microphone" style="color: white"></i> <i id="Recording" class="fa fa-circle"
          style="display: none; color: red"></i>
      </button>
      <input id="send-message-id" style="margin-left: 10px;" type="button" class="send-message btn btn-success"
        value="Send" />
    </div>

    <div style="display: none">
      <div id="viz">
        <canvas id="analyser" width="1024" height="350"></canvas>
        <br />
        <canvas id="wavedisplay" width="1024" height="350"></canvas>
      </div>
      <a id="save" class="btn btn-success" href="#">Download Audio</a>
    </div>

  </div>
 
  <th:block th:fragment="scripts(id, total)">
    <script src="../static/js/audio/audiodisplay.js" th:src="@{/js/audio/audiodisplay.js}"></script>
    <script src="../static/js/audio/recorder.js" th:src="@{/js/audio/recorder.js}"></script>
    <script src="../static/js/audio/main.js" th:src="@{/js/audio/main.js}"></script>
    <script th:inline="javascript">
      var counter = 0;
      var lobby = [[${id}]];
      function clickRecording(buttonRec){
          if(counter === 0){
              $("#notRecording").hide();
              $("#Recording").show();
              counter = 1;
              toggleRecording(buttonRec, lobby);
  
              setTimeout(function(){
                  if(counter === 1){
                      $("#recordButton").click();
                  }
              }, 10000);
          }
          else{
              $("#Recording").hide();
              $("#notRecording").show();
              counter = 0;
              toggleRecording(buttonRec, lobby);
          }
      }
    </script>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script th:inline="javascript">
      $(document).ready(function() {
          $('.chat-conversation').animate({scrollTop: $('.chat-conversation').prop("scrollHeight")}, 500);
      });
  
      /*<![CDATA[*/
      var league = /*[[${id}]]*/ '0';
      /*]]>*/
  
      /*<![CDATA[*/
      var totalMessagesAtLoad = /*[[${total}]]*/ 0;
      /*]]>*/
  
      var startMaxMessages = 30;
      //totalMessagesAtLoad = parseInt(totalMessagesAtLoad, 10);
  
      var start;
      start = totalMessagesAtLoad - startMaxMessages;
  
      if(startMaxMessages > totalMessagesAtLoad - 1) {
          start = 0;
      } else {
          $('#load-more').show();
      }
  
      function prependMessage(text, username) {
          loadImage(username, function (data) {
              $('#chat-' + league).prepend('<div class="chat-message">' +
                  '                  <h7>' +
                  '                    <font class="bold chat-message-author">' +
                  '                      <img class="chat-message-author-pic" src="' + data + '" width="15px" height="15px"/>' +
                  '                      <a class="chat-message-author-a" style="color:inherit;" href="/profile/' + username + '">&nbsp;' + username + '&nbsp;</a>' +
                  '                    </font>' +
                  '                    <font class="chat-message-content">' + text + '</font>' +
                  '                  </h7>' +
                  '                </div>');
          });
      }
  
      function prependAudioMessage(text, username) {
          loadImage(username, function (data) {
              $('#chat-' + league).prepend('<div class="chat-message">' +
                  '                  <h7>' +
                  '                    <font class="bold chat-message-author">' +
                  '                      <img class="chat-message-author-pic" src="' + data + '" width="15px" height="15px"/>' +
                  '                      <a class="chat-message-author-a" style="color:inherit;" href="/profile/' + username + '">&nbsp;' + username + '&nbsp;</a>' +
                  '                    </font>' +
                  '                    <audio controls="controls">' + '<source src="' + text + '" type="audio/wav" /> + </audio>' +
                  '                  </h7>' +
                  '                </div>');
          });
      }
  
      function appendMessage(text, username) {
          loadImage(username, function (data) {
              $('#chat-' + league).append('<div class="chat-message">' +
                  '                  <h7>' +
                  '                    <font class="bold chat-message-author">' +
                  '                      <img class="chat-message-author-pic" src="' + data + '" width="15px" height="15px"/>' +
                  '                      <a class="chat-message-author-a" style="color:inherit;" href="/profile/' + username + '">&nbsp;' + username + '&nbsp;</a>' +
                  '                    </font>' +
                  '                    <font class="chat-message-content">' + text + '</font>' +
                  '                  </h7>' +
                  '                </div>');
          });
      }
  
      function appendAudioMessage(text, username) {
          loadImage(username, function (data) {
              $('#chat-' + league).append('<div class="chat-message">' +
                  '                  <h7>' +
                  '                    <font class="bold chat-message-author">' +
                  '                      <img class="chat-message-author-pic" src="' + data + '" width="15px" height="15px"/>' +
                  '                      <a class="chat-message-author-a" style="color:inherit;" href="/profile/' + username + '">&nbsp;' + username + '&nbsp;</a>' +
                  '                    </font>' +
                  '                    <audio controls="controls">' + '<source src="' + text + '" type="audio/wav" /> + </audio>' +
                  '                  </h7>' +
                  '                </div>');
          });
      }
  
      function loadMore() {
          if(!(start > 0)) { return; }
  
          var startToSend = Math.max(0, start - 30);
          var endToSend = start;
  
          $.ajax({
              url: '/get-next-messages/' + ('chat-' + league) + '/' + startToSend + '/' + endToSend,
              success: function (data) {
                  start = startToSend;
                  $('#load-more').remove();
                  $('#center-load-more').remove();
  
                  for(var i = data.length - 1; i > -1; i--) {
                      if(data[i].type === "Audio"){
                          prependAudioMessage(data[i].text, data[i].username);
                      }
                      else prependMessage(data[i].text, data[i].username);
                  }
  
                  if(start > 0) {
                      // create new load-more
                      $('#chat-' + league).prepend('<center id="center-load-more"><a id="load-more" style="display: none;" href="javascript:loadMore();">Load more</a></center>');
                      $('#load-more').show();
                  }
              },
              error: function () {
                  console.log("Error!");
              }
          });
      }
  
      var pusher = new Pusher('6cf8829fd3f2bc2ca22f', {
          cluster: 'eu',
          encrypted: true
      });
  
      var channel = pusher.subscribe('chat-' + league);
      channel.bind('new-message', function(data) {
          message = data.message;
          username = data.username;
  
          if(data.type === "Audio") {
              appendAudioMessage(message, username);
          }
          else{
              appendMessage(message, username);
          }
      });
    </script>
    <script th:inline="javascript">
        $('#send-message-id').click(function () {
            var textToSend = $('#message-text').val();
    
            /*<![CDATA[*/
            var league = /*[[${id}]]*/ '0';
            /*]]>*/
    
            sendMessage(textToSend);
        });
    
        $("#message-text").keyup(function(event) {
            if (event.keyCode === 13) {
                $("#send-message-id").click();
            }
        });
    
        function sendMessage(textToSend) {
            if(textToSend.length > 0) {
                if(textToSend.length > 1000) {
                    window.alert("The text can be maximum 1000 characters long!");
                    return;
                }
                $('#message-text').val('');
                //btoa(encodeURIComponent(unescape(textToSend)))
                $.ajax({
                    type: 'POST',
                    url: '/new-chat-message/' + Base64.encode(textToSend) + '/' + ('chat-' + league),
                    success: function (data) {
                        console.log(data);
                        console.log(btoa(encodeURIComponent(unescape(textToSend))));
                        $('.chat-conversation').animate({scrollTop: $('.chat-conversation').prop("scrollHeight")}, 500);
                    },
                    error: function () {
                        console.log(btoa(encodeURIComponent(unescape(textToSend))));
                        console.log("Error!");
                    }
                });
            }
        }
    </script>
    <script>
        $(function () {
            $('.chat-message-author-pic').each(function (i, e) {
                $.get($(e).data('location'), function (data) {
                    $(e).prop('src', data);
                }, 'text');
            });
        });
    </script>
    
    <script>
        function loadImage(username, handleImage) {
            $.get("/getProfilePic/" + username, function (data) {
                handleImage(data);
            }, 'text');
        }
    </script>
  </th:block>
</body>
</html>