<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>FAQ</title>
</head>
<body>
  <div th:fragment="content" class="terms">
    <h2>TOP BANTZ APP</h2>
    <h3>1. Creating A New Account</h3>
    <ul class="bulleted">
      <li>Fill out all the necessary fields in the text boxes</li>
      <li>Ensure that username is between 6 to 32 characters long</li>
      <li>Email follows general @email.com format</li>
      <li>User remembers their username is case sensitive</li>
    </ul>
    <h3>2. Logging-In</h3>
    <ul class="bulleted">
      <li>Check if you have inputted your username correctly (upper case letters haven&rsquo;t been used where
        lower-case letters were inputted)</li>
      <li>Ask an admin If you been banned or not</li>
    </ul>
    <h3>3. Uploading a New Video</h3>
    <ul class="bulleted">
      <li>Manually upload your video onto YouTube using the &lsquo;Upload Feature&rsquo;</li>
      <li>Copy the video&rsquo;s web address (URL). Eg: <em>https://www.youtube.com/watch?v=z_rH</em></li>
      <li>Paste into the YouTube URL box on the Create New Post option</li>
      <li>Add a description and Upload</li>
    </ul>
    <h3>4. Problems Uploading a New Video</h3>
    <ul class="bulleted">
      <li>Ensure URL has been correctly copied including the <em>https://</em></li>
      <li>Ensure video is actually from YouTube</li>
      <li>Ensure you scroll down to see your video</li>
    </ul>
    <h3>5. Stadiums, Kits and Images</h3>
    <ul class="bulleted">
      <li>Check if you have an internet connection</li>
      <li>Enable browser cookies from browser settings</li>
      <li>Enable flash from browser settings</li>
      <li>Try to refresh the page</li>
    </ul>
    <h3>6. Earning and Spending Green Points</h3>
    <ul class="bulleted">
      <li>Points are earned for positive posts on the app</li>
      <li>Every 100 likes on a post gives you 1 Green-Point automatically</li>
      <li>Can be spent on items in the merchandise store</li>
      <li>Green points can also be purchased via deals on the merchandise page</li>
    </ul>
    <h3>7. Yellow Card / Red Card</h3>
    <ul class="bulleted">
      <li>Cards are given for negative behavior on the app including but not limited to offensive language and
        content</li>
      <li>A yellow card is given for a minor offence</li>
      <li>2 yellow cards automatically convert into a red card and you are banned from the app for 3 days</li>
      <li>After the match ban is over, you will be able to login to the app as normal</li>
    </ul>
    <h3>8. Microphone Problems on Discord</h3>
    <ul class="bulleted">
      <li>Check if you are using a microphone and it is plugged in and connected</li>
      <li>&ldquo;Allow&rdquo; app to record voice</li>
      <li>&ldquo;Allow&rdquo; app to record video</li>
      <li>Open Discord and make sure you haven&rsquo;t set their microphone to mute</li>
      <li>Make sure you are actually in a lobby, if you are; your name will appear in the lobby participants list.</li>
    </ul>
    <h3>9. Uploading Media onto Discord</h3>
    <ul class="bulleted">
      <li>Make sure you &ldquo;Allow&rdquo; for Discord to access the user&rsquo;s gallery</li>
      <li>Make sure you haven&rsquo;t already posted the same image</li>
      <li>Make sure you have a stable internet connection</li>
    </ul>
    <h3>10. Uploading Media onto Top Bantz App</h3>
    <ul class="bulleted">
      <li>Make sure the video came from YouTube</li>
      <li>Make sure it follows the link type: www.youtube.com/videolink</li>
    </ul>
    <h3>11. Locating Your VIP Lobby</h3>
    <ul class="bulleted">
      <li>Go to your home page and access the VIP lobby from the box to the left-hand side.</li>
    </ul>
    <h3>12. 3-D Stadium Navigation</h3>
    <ul class="bulleted">
      <li>Use your mouse and up, down, left, right keys on their keypad to navigate around the stadium</li>
    </ul>

    <h2>Discord</h2>
    <h3>1. Personal Message Another User</h3>
    <ul class="bulleted">
      <li>Left Click on user&rsquo;s profile photo or name until an information box comes up</li>
      <li>Write personal message in the box</li>
      <li>Press Enter to send</li>
    </ul>
    <h3>2. See Who Else Is Online</h3>
    <ul class="bulleted">
      <li>Check right hand side column to see all users who are either online or offline</li>
    </ul>
    <h3>3. Switching Between Voice Banter Lobbies</h3>
    <ul class="bulleted">
      <li>Know which lobby you are in by observing your name under the lobby&rsquo;s name</li>
      <li>Click on whichever lobby you want to go on by selecting it with your mouse</li>
    </ul>
    <h3>4. Create A New Private Channel</h3>
    <ul class="bulleted">
      <li>Press the + icon on the let hand side of the screen on the navbar</li>
      <li>Adjust the settings and the server is created</li>
    </ul>
    <h3>5. How to Start a Video Call with People (9 People Max)</h3>
    <ul class="bulleted">
      <li>Press the &ldquo;Friends&rdquo; Icon on the top left-hand corner of the screen</li>
      <li>Click &ldquo;All&rdquo; to see all friends</li>
      <li>Hover over a friend&rsquo;s name until it turns grey</li>
      <li>Press the video call option</li>
      <li>To add up to 8 more friends onto the call, press this button and add friends by their username</li>
    </ul>
    <h3>6. Invite Friends Who Are Not on Discord</h3>
    <ul class="bulleted">
      <li>Click on the bottom pointing arrow to bring up the lobby settings</li>
      <li>Click on &ldquo;Invite People&rdquo;, copy the link and send to friends</li>
    </ul>
    <h3>7. Accessing User Settings</h3>
    <ul class="bulleted">
      <li>Click on the gear icon on the bottom left hand side of the screen</li>
    </ul>
  </div>
</body>
</html>