<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>FAQ</title>
</head>
<body>
  <div th:fragment="content" class="faq">
    <h2>TOP BANTZ APP</h2>
    <ol>
      <li>Creating A New Account
        <ul>
          <li>Fill out all the necessary fields in the text boxes</li>
          <li>Ensure that username is between 6 to 32 characters long</li>
          <li>Email follows general @email.com format</li>
          <li>User remembers their username is case sensitive</li>
        </ul>
      </li>
      <li>Logging-In
        <ul>
          <li>Check if you have inputted your username correctly (upper case letters haven&rsquo;t been used where
            lower-case letters were inputted)</li>
          <li>Ask an admin If you been banned or not</li>
        </ul>
      </li>
      <li>Uploading a New Video
        <ul>
          <li>Manually upload your video onto YouTube using the &lsquo;Upload Feature&rsquo;</li>
          <li>Copy the video&rsquo;s web address (URL). Eg: https://www.youtube.com/watch?v=z_rH</li>
          <li>Paste into the YouTube URL box on the Create New Post option</li>
          <li>Add a description and Upload</li>
        </ul>
      </li>
      <li>Problems Uploading a New Video
        <ul>
          <li>Ensure URL has been correctly copied including the https://</li>
          <li>Ensure video is actually from YouTube</li>
          <li>Ensure you scroll down to see your video</li>
        </ul>
      </li>
      <li>Stadiums, Kits and Images
        <ul>
          <li>Check if you have an internet connection</li>
          <li>Enable browser cookies from browser settings</li>
          <li>Enable flash from browser settings</li>
          <li>Try to refresh the page</li>
        </ul>
      </li>
      <li>Earning and Spending Green Points
        <ul>
          <li>Points are earned for positive posts on the app</li>
          <li>Every 100 likes on a post gives you 1 Green-Point automatically</li>
          <li>Can be spent on items in the merchandise store</li>
          <li>Green points can also be purchased via deals on the merchandise page</li>
        </ul>
      </li>
      <li>Yellow Card / Red Card
        <ul>
          <li>Cards are given for negative behavior on the app including but not limited to offensive language and
            content</li>
          <li>A yellow card is given for a minor offence</li>
          <li>2 yellow cards automatically convert into a red card and you are banned from the app for 3 days</li>
          <li>After the match ban is over, you will be able to login to the app as normal</li>
        </ul>
      </li>
      <li>Microphone Problems on Discord
        <ul>
          <li>Check if you are using a microphone and it is plugged in and connected</li>
          <li>&ldquo;Allow&rdquo; app to record voice</li>
          <li>&ldquo;Allow&rdquo; app to record video</li>
          <li>Open Discord and make sure you haven&rsquo;t set their microphone to mute</li>
          <li>Make sure you are actually in a lobby, if you are; your name will appear in the lobby participants
            list.</li>
        </ul>
      </li>
      <li>Uploading Media onto Discord
        <ul>
          <li>Make sure you &ldquo;Allow&rdquo; for Discord to access the user&rsquo;s gallery</li>
          <li>Make sure you haven&rsquo;t already posted the same image</li>
          <li>Make sure you have a stable internet connection</li>
        </ul>
      </li>
      <li>Uploading Medio onto Top Bantz App
        <ul>
          <li>Make sure the video came from YouTube</li>
          <li>Make sure it follows the link type: www.youtube.com/videolink</li>
        </ul>
      </li>
      <li>Locating Your VIP Lobby
        <ul>
          <li>Go to your home page and access the VIP lobby from the box to the left-hand side.</li>
        </ul>
      </li>
      <li>3-D Stadium Navigation
        <ul>
          <li>Use your mouse and up, down, left, right keys on their keypad to navigate around the stadium</li>
        </ul>
      </li>
    </ol>

    <h2>Discord</h2>
    <ol>
      <li>Personal Message Another User
        <ul>
          <li>Left Click on user&rsquo;s profile photo or name until an information box comes up</li>
          <li>Write personal message in the box</li>
          <li>Press Enter to send</li>
        </ul>
      </li>
      <li>See Who Else Is Online
        <ul>
          <li>Check right hand side column to see all users who are either online or offline</li>
        </ul>
      </li>
      <li>Switching Between Voice Banter Lobbies
        <ul>
          <li>Know which lobby you are in by observing your name under the lobby&rsquo;s name</li>
          <li>Click on whichever lobby you want to go on by selecting it with your mouse</li>
        </ul>
      </li>
      <li>Create A New Private Channel
        <ul>
          <li>Press the + icon on the let hand side of the screen on the navbar</li>
          <li>Adjust the settings and the server is created</li>
        </ul>
      </li>
      <li>How to Start a Video Call with People (9 People Max)
        <ul>
          <li>Press the &ldquo;Friends&rdquo; Icon on the top left-hand corner of the screen</li>
          <li>Click &ldquo;All&rdquo; to see all friends</li>
          <li>Hover over a friend&rsquo;s name until it turns grey</li>
          <li>Press the video call option</li>
          <li>To add up to 8 more friends onto the call, press this button and add friends by their username</li>
        </ul>
      </li>
      <li>Invite Friends Who Are Not on Discord
        <ul>
          <li>Click on the bottom pointing arrow to bring up the lobby settings</li>
          <li>Click on &ldquo;Invite People&rdquo;, copy the link and send to friends</li>
        </ul>
      </li>
      <li>Accessing User Settings
        <ul>
          <li>Click on the gear icon on the bottom left hand side of the screen</li>
        </ul>
      </li>
    </ol>
  </div>
</body>
</html>