<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<!-- Modal -->
<div th:fragment="infomodal" id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Top Bantz Rules &amp; Regulations</h4>
            </div>
            <div class="modal-body">
                <h2>Rules</h2>
                <p>About Us<br/>
                    On behalf of TopBantz, we would like to welcome and thank you for choosing<br/>
                    our app. We would like to keep this app as sports related with positive banter<br/>
                    and messages. Our aim is to treat all members equal, happy and entertained at<br/>
                    all times.<br/>
                    We appreciate your interest in being a part of one of the worlds newest and<br/>
                    exciting Sports App available to download.</p>

                <p>Disciplinary Actions<br/>
                    Yellow Card Offences:<br/>
                    This will be issued if a member within the forum has been disrespectful and used<br/>
                    offensive language including behaviour. All yellow cards are upheld for 7 days<br/>
                    which are treated as warnings, if another yellow is accumulated, it then will<br/>
                    become an automatic red.</p>

                <p>Red Card Offences:<br/>
                    We do not promote any form of discrimination, prejudice or bullying, this<br/>
                    includes racial,violent and religious hatred. We will not tolerate the use of<br/>
                    nudity and sexual content, images of killing and targeted personal abusive<br/>
                    behaviour.</p>

                <p>A Red Card will be issued if any of the above offences is committed, this will<br/>
                    block a user from using all services on the app for a period of time at the<br/>
                    discretion of the boardroom. Grey areas will not be accepted, failure to adhere<br/>
                    to the rules and regulations will result in removal from the app permanently.<br/>
                    If however, a user is unhappy regarding a decision made from the boardroom;<br/>
                    please see Terms and Conditions section Confidentiality and Appeals.</p>

                <p>Terms and Conditions<br/>
                    Confidentiality<br/>
                    If a user is not happy with a situation and would like to talk privately. Please<br/>
                    feel free to contact a Member of the Board by email. Your name will remain<br/>
                    anonymous about the topic of what you have heard or seen and the Board will<br/>
                    address the matter. Your right to remain anonymous will be upheld.</p>

                <p>Appeals<br/>
                    If you wish to appeal against a decision you have 5 working days from the<br/>
                    day you have received a card.<br/>
                    Board Members may consider your appeal when lodged, we will get back<br/>
                    to you within 3 days. If your appeal is unsuccessful and the Board thinks that<br/>
                    you do not have a good enough reason, then you may be liable for extra days<br/>
                    on your ban.</p>

                <p>Topbantz would like to take this time to thank all our users for their support,<br/>
                    the Board want you to have an enjoyable experience.</p>


                <h2>FAQ</h2>

                <p>TOP BANTZ APP</p>

                <p>1. Creating A New Account<br/>
                    &bull; Fill out all the necessary fields in the text boxes<br/>
                    &bull; Ensure that username is between 6 to 32 characters long<br/>
                    &bull; Email follows general @email.com format<br/>
                    &bull; User remembers their username is case sensitive<br/>
                    2. Logging-In<br/>
                    &bull; Check if you have inputted your username correctly (upper case letters haven&rsquo;t been
                    used<br/>
                    where lower-case letters were inputted)<br/>
                    &bull; Ask an admin If you been banned or not<br/>
                    3. Uploading a New Video<br/>
                    &bull; Manually upload your video onto YouTube using the &lsquo;Upload Feature&rsquo;<br/>
                    &bull; Copy the video&rsquo;s web address (URL). Eg: https://www.youtube.com/watch?v=z_rH<br/>
                    &bull; Paste into the YouTube URL box on the Create New Post option<br/>
                    &bull; Add a description and Upload<br/>
                    4. Problems Uploading a New Video<br/>
                    &bull; Ensure URL has been correctly copied including the https://<br/>
                    &bull; Ensure video is actually from YouTube<br/>
                    &bull; Ensure you scroll down to see your video<br/>
                    5. Stadiums, Kits and Images<br/>
                    &bull; Check if you have an internet connection<br/>
                    &bull; Enable browser cookies from browser settings<br/>
                    &bull; Enable flash from browser settings<br/>
                    &bull; Try to refresh the page</p>

                <p>6. Earning and Spending Green Points<br/>
                    &bull; Points are earned for positive posts on the app<br/>
                    &bull; Every 100 likes on a post gives you 1 Green-Point automatically<br/>
                    &bull; Can be spent on items in the merchandise store<br/>
                    &bull; Green points can also be purchased via deals on the merchandise page</p>

                <p>7. Yellow Card / Red Card<br/>
                    &bull; Cards are given for negative behavior on the app including but not limited to offensive<br/>
                    language and content<br/>
                    &bull; A yellow card is given for a minor offence</p>

                <p>&bull; 2 yellow cards automatically convert into a red card and you are banned from the app for
                    3<br/>
                    days<br/>
                    &bull; After the match ban is over, you will be able to login to the app as normal</p>

                <p>8. Microphone Problems on Discord<br/>
                    &bull; Check if you are using a microphone and it is plugged in and connected<br/>
                    &bull; &ldquo;Allow&rdquo; app to record voice<br/>
                    &bull; &ldquo;Allow&rdquo; app to record video<br/>
                    &bull; Open Discord and make sure you haven&rsquo;t set their microphone to mute<br/>
                    &bull; Make sure you are actually in a lobby, if you are; your name will appear in the lobby<br/>
                    participants list.</p>

                <p>9. Uploading Media onto Discord<br/>
                    &bull; Make sure you &ldquo;Allow&rdquo; for Discord to access the user&rsquo;s gallery<br/>
                    &bull; Make sure you haven&rsquo;t already posted the same image<br/>
                    &bull; Make sure you have a stable internet connection</p>

                <p>10. Uploading Medio onto Top Bantz App<br/>
                    &bull; Make sure the video came from YouTube<br/>
                    &bull; Make sure it follows the link type: www.youtube.com/videolink<br/>
                    11. Locating Your VIP Lobby<br/>
                    &bull; Go to your home page and access the VIP lobby from the box to the left-hand side.</p>

                <p>12. 3-D Stadium Navigation<br/>
                    &bull; Use your mouse and up, down, left, right keys on their keypad to navigate around the<br/>
                    stadium</p>

                <p>Discord<br/>
                    1. Personal Message Another User<br/>
                    &bull; Left Click on user&rsquo;s profile photo or name until an information box comes up<br/>
                    &bull; Write personal message in the box<br/>
                    &bull; Press Enter to send<br/>
                    2. See Who Else Is Online<br/>
                    &bull; Check right hand side column to see all users who are either online or offline</p>

                <p>3. Switching Between Voice Banter Lobbies<br/>
                    &bull; Know which lobby you are in by observing your name under the lobby&rsquo;s name<br/>
                    &bull; Click on whichever lobby you want to go on by selecting it with your mouse<br/>
                    4. Create A New Private Channel<br/>
                    &bull; Press the + icon on the let hand side of the screen on the navbar<br/>
                    &bull; Adjust the settings and the server is created</p>

                <p>5. How to Start a Video Call with People (9 People Max)<br/>
                    &bull; Press the &ldquo;Friends&rdquo; Icon on the top left-hand corner of the screen<br/>
                    &bull; Click &ldquo;All&rdquo; to see all friends<br/>
                    &bull; Hover over a friend&rsquo;s name until it turns grey<br/>
                    &bull; Press the video call option<br/>
                    &bull; To add up to 8 more friends onto the call, press this button and add friends by their<br/>
                    username</p>

                <p>6. Invite Friends Who Are Not on Discord<br/>
                    &bull; Click on the bottom pointing arrow to bring up the lobby settings<br/>
                    &bull; Click on &ldquo;Invite People&rdquo;, copy the link and send to friends</p>

                <p>7. Accessing User Settings<br/>
                    &bull; Click on the gear icon on the bottom left hand side of the screen</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

</body>
</html>