<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet"/>
</head>
<body>
<!-- Navigation -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <a class="navbar-brand" th:href="@{/home}">Top Bantz</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

            <li th:if="${user.getAdmin()}" class="nav-item">
                <a class="nav-link" th:href="@{/admin}">Admin</a>
            </li>
            <!-- Commenting Store (23-Aug-2018) -->
            <!--<li class="nav-item" th:if="${not user.getBanned()}">
                <a class="nav-link" th:href="@{/shop}"><i class="fa fa-shopping-cart" style="color: white" aria-hidden="true"></i> Store</a>
            </li>-->
            <li class="nav-item" th:if="${not user.getBanned()}">
                <a class="nav-link" th:href="@{/lobbies/league}"><i class="fa fa-futbol-o" style="color: white" aria-hidden="true"></i> Top Leagues</a>
            </li>
            <li class="nav-item" th:if="${not user.getBanned()}">
                <a class="nav-link" th:href="@{/lobbies/club}"><i class="fa fa-futbol-o" style="color: white" aria-hidden="true"></i> Club Lobbies</a>
            </li>
            <!-- Commenting Donations (23-Aug-2018) -->
            <!--<li class="nav-item">
                <a class="nav-link" href="https://www.gofundme.com/topbantz"><i class="fa fa-usd" style="color: white" aria-hidden="true"></i> Donate</a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="https://www.youtube.com/user/topmentruepundits"><i class="fa fa-bullhorn" style="color: white" aria-hidden="true"></i> Bantz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/scores'}"><i class="fa fa-gamepad" style="color: white" aria-hidden="true"></i> News/Scores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" style="cursor: pointer" data-target="#myModal"><i class="fa fa-question" style="color: white" aria-hidden="true"></i> Info</a>
            </li>
            <li class="nav-item" th:if="${not user.getBanned()}">
                <a class="nav-link" th:href="@{/jobs}"><i class="fa fa-address-card" style="color: white" aria-hidden="true"></i> Ads/Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/profile/' + ${username}}"><i class="fa fa-user" style="color: white" aria-hidden="true"></i> <span th:text="'Hi, ' + ${username} + '!'"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}"><i class="fa fa-sign-out" style="color: white" aria-hidden="true"></i> Logout</a>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>