<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<div th:fragment="slideshow" id="slideshow" class="slideshow">
    <div>
        <img th:src="@{/carousel/1.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/2.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/3.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/4.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/5.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/6.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/7.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/8.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/9.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/10.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/11.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/12.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/13.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/14.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/15.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/16.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/17.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/18.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/19.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/20.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/21.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/22.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/23.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/24.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/25.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/26.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/27.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/28.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/29.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/30.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/31.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/32.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/33.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/34.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/35.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/36.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/37.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/38.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/39.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/40.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/41.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/42.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/43.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/44.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/45.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/46.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/47.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/48.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/49.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/50.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/51.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/52.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/53.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/54.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/55.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/56.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/57.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/58.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/59.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/60.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/61.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/62.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/63.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/64.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/65.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/66.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/67.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/68.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/69.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/70.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/71.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/72.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/73.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/74.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/75.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/76.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/77.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/78.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/79.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/80.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/81.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/82.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/83.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/84.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/85.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/86.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/87.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/88.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/89.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/90.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/91.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/92.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/93.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/94.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/95.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/96.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/97.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/98.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/99.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/100.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/101.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/102.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/103.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/104.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/105.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/106.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/107.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/108.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/109.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/110.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/111.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/112.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/113.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/114.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/115.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/116.jpg}" />
    </div>

</div>

<div th:fragment="slideshow2" id="slideshow2" class="slideshow">
    <div>
        <img th:src="@{/carousel/1.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/2.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/3.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/4.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/5.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/6.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/7.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/8.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/9.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/10.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/11.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/12.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/13.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/14.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/15.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/16.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/17.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/18.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/19.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/20.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/21.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/22.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/23.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/24.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/25.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/26.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/27.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/28.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/29.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/30.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/31.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/32.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/33.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/34.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/35.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/36.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/37.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/38.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/39.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/40.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/41.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/42.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/43.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/44.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/45.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/46.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/47.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/48.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/49.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/50.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/51.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/52.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/53.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/54.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/55.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/56.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/57.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/58.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/59.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/60.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/61.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/62.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/63.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/64.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/65.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/66.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/67.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/68.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/69.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/70.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/71.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/72.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/73.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/74.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/75.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/76.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/77.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/78.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/79.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/80.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/81.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/82.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/83.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/84.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/85.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/86.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/87.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/88.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/89.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/90.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/91.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/92.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/93.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/94.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/95.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/96.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/97.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/98.jpg}" />
    </div>
    <div>
        <img th:src="@{/carousel/99.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/100.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/101.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/102.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/103.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/104.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/105.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/106.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/107.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/108.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/109.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/110.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/111.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/112.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/113.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/114.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/115.png}" />
    </div>
    <div>
        <img th:src="@{/carousel/116.jpg}" />
    </div>

</div>

</body>
</html>