.mobile #kit-area {
  background-image: url('/img/kit-bg-mobile.png');
}

#kit-area {
  position: relative;
  padding: 0;
  flex-grow: 1;
  background-image: url('/img/kit-bg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#trophy-area {
  background-image: url('/img/trophybg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#kit-area .wear-box {
  position: relative;
  width: 80%;
  /* height: 0; */
  margin: 0 auto;
  text-align: center;
}
/*
#kit-area .jacket-box {
  padding-bottom: 47.6%;
}

#kit-area .shorts-box {
  padding-bottom: 18.3%;
}

#kit-area .socks-box {
  padding-bottom: 37.1%;
}
*/

#kit-area .wear-box img {
  display: inline-block;
  width: 100%;
  height: auto;
}

#kit-area .ball-box {
  position: absolute;
  bottom: 0;
  height: 0;
  right: 0;
  width: 30%;
  padding-bottom: 30%;
}

#kit-area .ball-box>img {
  display: inline-block;
  width: 75%;
}