.mobile #kit-area {
  background-image: url('/img/kit-bg-mobile.png');
}
#kit-area {
  padding-left: 2%;
  padding-top: 0;
  padding-bottom: 1%;
  flex-grow: 1;
  background-image: url('/img/kit-bg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#trophy-area {
  background-image: url('/img/trophybg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}