<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>TMTP</title>

    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Custom fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />

    <!-- Custom styles -->
    <link href="../static/css/freelancer.min.css" th:href="@{/css/freelancer.min.css}" rel="stylesheet" />
    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet" />

    <link rel="stylesheet" href="../static/css/cards.css" th:href="@{/css/cards.css}" />

</head>

<body class="index" id="page-top" style="background-repeat: repeat-y;">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <a class="navbar-brand" th:href="@{/home}">TMTP</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

            <li th:if="${loggeduser.getAdmin()}" class="nav-item">
                <a class="nav-link" th:href="@{/admin}">Admin Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/shop}">Store</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/scores}">Live Scores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://discord.gg/rbugQUr">Chat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/profile/' + ${loggeduser.getUsername()}}"><span th:text="'Hi, ' + ${loggeduser.getFirstName()} + '!'"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" style="margin-top: 10%">
    <div class="row">

        <div class="col-md-4 col-xs-12">
            <div class="row">
                <div class="profileCard">
                    <center>
                        <img id="overlay" th:src="@{'/getFiles/' + ${user.getUsername()} + '.jpg'}" width="60%" height="60%" />
                        <h2 style="margin-top:3%" th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}">Parik Panchal</h2>
                        <h3>The Man!</h3>

                        <div style="margin-top: 10%">
                            <div class="col-lg-12">
                                <p align="center" class="pointBox"><i class="fa fa-circle" style="color: #00ff00" aria-hidden="true"></i> <span th:text="${greenPoints}"></span></p>
                            </div>

                            <div class="col-lg-12">
                                <p align="center" class="pointBox"><i class="fa fa-circle" style="color: #ffff00" aria-hidden="true"></i> <span th:text="${yellowPoints}"></span></p>
                            </div>

                            <div class="col-lg-12">
                                <p align="center" class="pointBox"><i class="fa fa-circle" style="color: #ff0000" aria-hidden="true"></i> <span th:text="${redPoints}"></span></p>
                            </div>
                        </div>

                    </center>
                </div>
            </div>

            <div class="row">
                <div class="profileCard" style="padding-left: 2%;">
                    <h1 style="color: black; margin-bottom: 8%; padding-left: 3%">My Player Kit</h1>
                    <div class="row">
                        <div class="col-sm-7" style="float:right">
                            <img th:src="@{'/img/kits/jackets/' + ${user.getPlayerKit().getJacket()} +'.png'}" width="90%" height="auto" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-7" style="float:right">
                            <img th:src="@{'/img/kits/shorts/' + ${user.getPlayerKit().getShorts()} +'.png'}" width="90%" height="auto" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-7" style="float:right">
                            <img th:src="@{'/img/kits/socks/' + ${user.getPlayerKit().getSocks()} +'.png'}" width="90%" height="auto" />
                        </div>
                        <div class="col-sm-5" style="float:left">
                            <br /><br /><br />
                            <img th:src="@{'/img/kits/footballs/' + ${user.getPlayerKit().getFootball()} +'.png'}" width="120px" height="120px"/>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-8 col-xs-12">
            <div class="stadiumCard">
                <h1 style="color: black; margin-bottom: 5%; padding-left: 3%">Change First and Last Names</h1>
                <center>
                    <form style="width: 90% !important; margin-top: 1%; margin-left: 2%" th:object="${nameForm}" th:action="@{'/admin/edit/' + ${user.getUsername()} + '/updateName'}" method="POST">
                        <div class="form-group">
                            <label for="fname" style="float: left;"><h6>First name</h6></label>
                            <input type="text" th:field="*{fname}" class="form-control" style="width:100%;" id="fname" />
                        </div>
                        <div class="form-group">
                            <label for="lname" style="float: left;"><h6>Last name</h6></label>
                            <input type="text" id="lname" th:field="*{lname}" class="form-control" style="width:100%;" />
                        </div>

                        <button style="margin-top: 2%;" class="btn btn-success">Submit</button>
                    </form>
                </center>
            </div>

            <div class="stadiumCard">
                <h1 style="color: black; margin-bottom: 5%; padding-left: 3%">Reset Password</h1>
                <center>
                    <form style="width: 90% !important; margin-top: 1%; margin-left: 2%" th:object="${passForm}" th:action="@{'/admin/edit/' + ${user.getUsername()} + '/updatePassword'}" method="POST">
                        <div class="form-group">
                            <label for="oldpass" style="float: left;"><h6>New Password</h6></label>
                            <input type="text" th:field="*{oldPass}" class="form-control" style="width:100%;" id="oldpass" />
                        </div>
                        <div class="form-group">
                            <label for="newPass" style="float: left;"><h6>Confirm New Password</h6></label>
                            <input type="text" id="newPass" th:field="*{newPass}" class="form-control" style="width:100%;" />
                        </div>

                        <button style="margin-top: 2%;" class="btn btn-success">Submit</button>
                    </form>
                </center>
            </div>

            <div class="stadiumCard">
                <h1 style="color: black; margin-bottom: 5%; padding-left: 3%">Choose Profile Overlay</h1>
                <center>
                    <form method="POST" th:object="${pointsForm}" th:action="@{'/admin/edit/' + ${user.getUsername()} + '/updatePoints'}">
                        <div class="form-group">
                            <label for="number" style="float: left; padding-left:3%"><h6>Change point values</h6></label>
                            <input type="text" id="number" th:field="*{points}" class="form-control" style="width:80%;" />
                        </div>
                        <div class="form-group" style="width: 80%">
                            <label for="overlayselect">Point colors:</label>
                            <select th:field="*{color}" class="form-control" id="overlayselect">
                                <option th:value="green">Green</option>
                                <option th:value="yellow">Yellow</option>
                                <option th:value="red">Red</option>
                            </select>
                        </div>
                        <button class="btn btn-success" value="Upload">Update</button>
                    </form>
                </center>
            </div>

            <div class="stadiumCard">
                <h1 style="color: black; margin-bottom: 5%; padding-left: 3%">Change ban status</h1>
                <center>
                    <form method="POST" th:object="${bannedForm}" th:action="@{'/admin/edit/' + ${user.getUsername()} + '/updateBan'}">
                        <div class="form-group" style="width: 80%">
                            <label for="overlayselect">Ban status:</label>
                            <select th:field="*{banned}" class="form-control" id="overlayselect">
                                <option th:value="true">Banned</option>
                                <option th:value="false">Unbanned</option>
                            </select>
                        </div>
                        <button class="btn btn-success" value="Upload">Update</button>
                    </form>
                </center>
            </div>


            <div class="stadiumCard">
                <h1 style="color: black; margin-bottom: 5%; padding-left: 3%">Change Profile Picture</h1>
                <center>
                    <form method="POST" enctype="multipart/form-data" th:action="@{'/admin/edit/' + ${user.getUsername()} + '/profileUpload'}">
                        <label for="profile"><h6>Upload photo (max 5mb): </h6></label>
                        <input type="file" id="profile" name="file" />
                        <button class="btn btn-success" value="Upload">Upload</button>
                    </form>
                </center>
            </div>

            <div class="stadiumCard">
                <h1 style="color: black; margin-bottom: 5%; padding-left: 3%">Choose Profile Overlay</h1>
                <center>
                    <form method="POST" th:object="${overlayForm}" th:action="@{'/admin/edit/' + ${user.getUsername()} + '/updateOverlay'}">
                        <div class="form-group" style="width: 80%">
                            <label for="overlayselect">Available overlays:</label>
                            <select th:field="*{overlayName}" class="form-control" id="overlayselect">
                                <option th:value="Arsenal">Arsenal</option>
                                <option th:value="FCBarcelona">Barcelona</option>
                                <option th:value="Senegal">Senegal</option>
                            </select>
                        </div>
                        <button class="btn btn-success" value="Upload">Change</button>
                    </form>
                </center>
            </div>

            <div class="stadiumCard">
                <h1 style="color: black; margin-bottom: 5%; padding-left: 3%">Choose Player Kit</h1>
                <center>
                    <form method="POST" th:object="${kitForm}" th:action="@{'/admin/edit/' + ${user.getUsername()} + '/updateKit'}">

                        <div class="form-group" style="width: 80%">
                            <label for="jacketselect">Available jackets:</label>
                            <select th:field="*{jacket}" class="form-control" id="jacketselect">
                                <option th:value="None">None</option>
                                <option th:value="1">Arsenal</option>
                                <option th:value="2">Barcelona</option>
                            </select>
                        </div>

                        <div class="form-group" style="width: 80%">
                            <label for="shortselect">Available shorts:</label>
                            <select th:field="*{shorts}" class="form-control" id="shortselect">
                                <option th:value="None">None</option>
                                <option th:value="1">Arsenal</option>
                                <option th:value="2">Barcelona</option>
                            </select>
                        </div>

                        <div class="form-group" style="width: 80%">
                            <label for="sockselect">Available socks:</label>
                            <select th:field="*{socks}" class="form-control" id="sockselect">
                                <option th:value="None">None</option>
                                <option th:value="1">Arsenal</option>
                                <option th:value="2">Barcelona</option>
                            </select>
                        </div>

                        <div class="form-group" style="width: 80%">
                            <label for="footballselect">Available footballs:</label>
                            <select th:field="*{football}" class="form-control" id="footballselect">
                                <option th:value="None">None</option>
                                <option th:value="1">Arsenal</option>
                                <option th:value="2">Barcelona</option>
                            </select>
                        </div>

                        <button class="btn btn-success" value="Upload">Change</button>
                    </form>
                </center>
            </div>

        </div>

    </div>
</div>


<!-- Footer -->
<footer class="text-center" style="margin-top: 10%;">
    <div class="footer-above">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h3>Social Media</h3>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="#">
                                <i class="fa fa-fw fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="#">
                                <i class="fa fa-fw fa-google-plus"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="#">
                                <i class="fa fa-fw fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="#">
                                <i class="fa fa-fw fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; TMTP 2017
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top d-lg-none">
    <a class="btn btn-primary page-scroll" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script src="../static/vendor/popper/popper.min.js" th:src="@{/vendor/popper/popper.min.js}"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Contact Form JavaScript -->
<script src="../static/js/jqBootstrapValidation.js" th:src="@{/js/jqBootstrapValidation.js}"></script>
<script src="../static/js/contact_me.js" th:src="@{/js/contact_me.js}"></script>

<!-- Custom scripts for this template -->
<script src="../static/js/freelancer.min.js" th:src="@{/js/freelancer.min.js}"></script>

<script type="text/javascript">
    var images = ['1.jpg', '2.jpg', '3.jpg', '4.jpg', '5.jpg', '6.jpg', '7.jpg', '8.jpg', '9.jpg', '10.jpg', '11.jpg', '12.jpg', '13.jpg',  '14.jpg', '15.jpg', '16.jpg', '17.jpg', '18.jpg', '19.jpg', '20.jpg', '21.jpg',];
    $('body').css({'background-image': 'url(/img/background/' + images[Math.floor(Math.random() * images.length)] + ')'});
</script>

<!--Watermark library-->
<script src="../static/js/jquery.watermark.min.js" th:src="@{/js/jquery.watermark.min.js}"></script>

<script th:inline="javascript">
    var url = '/img/overlays/'+ [[${user.getOverlay()}]] + '.png';
    $(function() {
        $('#overlay').watermark({
            path: url,
            gravity: 's'
        });
    });
</script>

</body>

</html>
