<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>TMTP</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Custom fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

    <!-- Custom styles -->
    <link href="../static/css/freelancer.min.css" th:href="@{/css/freelancer.min.css}" rel="stylesheet" />
    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet" />
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.js"></script>

      <script async="true" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-3993803388816871",
              enable_page_level_ads: true
          });
      </script>

  </head>

  <body class="index" id="page-top"  th:background="@{/img/background/grass.jpg}" style="background-repeat: repeat">

  <!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <a class="navbar-brand" th:href="@{/home}">Top Bantz</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

            <li th:if="${user.getAdmin()}" class="nav-item">
                <a class="nav-link" th:href="@{/admin}">Admin Dashboard</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/shop}"><i class="fa fa-shopping-cart" style="color: white" aria-hidden="true"></i> Merchandise</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" th:href="@{/jobs}"><i class="fa fa-address-card" style="color: white" aria-hidden="true"></i> Ads/Jobs</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" th:href="@{/lobbies/league}"><i class="fa fa-futbol-o" style="color: white" aria-hidden="true"></i> Master Leagues</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lobbies/club}"><i class="fa fa-futbol-o" style="color: white" aria-hidden="true"></i> Club Lobbies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/profile/' + ${username}}"><i class="fa fa-user" style="color: white" aria-hidden="true"></i> <span th:text="'Hi, ' + ${username} + '!'"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#myModal"><i class="fa fa-book" style="color: white" aria-hidden="true"></i> Rules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}"><i class="fa fa-sign-out" style="color: white" aria-hidden="true"></i> Logout</a>
            </li>
        </ul>
      </div>
    </nav>

    <div class="container statsmenu">
        <div class="row">
            
            <div class="col-lg-6">
                <p align="left" style="color: #00DEB6; font-size: 26px;">Overview</p>
            </div>
            
            <div class="col-lg-2">
                <p align="center" class="pointBox"><i class="fa fa-square" style="color: #00ff00" aria-hidden="true"></i> <span th:text="${greenPoints}"></span></p>
            </div>
            
            <div class="col-lg-2">
                <p align="center" class="pointBox"><i class="fa fa-square" style="color: #ffff00" aria-hidden="true"></i> <span th:text="${yellowPoints}"></span></p>
            </div>
            
            <div class="col-lg-2">
                <p align="center" class="pointBox"><i class="fa fa-square" style="color: #ff0000" aria-hidden="true"></i> <span th:text="${redPoints}"></span></p>
            </div>
            
        </div>
        <div class="row">

            <div class="col-lg-6">
                <p align="left" style="color: #00DEB6; font-size: 26px;">of points and cards</p>
            </div>

            <div class="col-lg-2">
                <p align="center"><span style="color: #00ff00">Green Points</span></p>
            </div>

            <div class="col-lg-2">
                <p align="center"><span style="color: yellow">Yellow Cards</span></p>
            </div>

            <div class="col-lg-2">
                <p align="center"><span style="color: red">Red Cards</span></p>
            </div>

        </div>
        <div class="row">
                <div class="errorField2" th:if="${error}">
                    <center>
                        <p th:text="${errorMessage}" style="vertical-align: center;">This is an error message that spans on multiple lines to see if design is screwed!</p>
                    </center>
                </div>
        </div>
    </div>

    <div class="container" style="margin-top: 3%;">
        <div class="row">
            <div class="col-lg-3 mobileNone">
                <div style="margin-bottom: 3%; width: 100%" class="row" th:if="${myLobbies or hasLobbies}">
                    <div class="postcard">
                        <div class="row" style="margin-left: 5%; margin-top:3%; margin-right: 5%">
                            <h3><u>My VIP Lobbies</u></h3>
                        </div>
                        <div th:if="${hasOwnLobby}" class="row" style="margin-left: 5%; margin-top:1%">
                            <h3 style="margin-top: 5%">Copy link to personal lobby:</h3>
                            <input id="lobbyLink" style="width: 80%" type="text" th:value="${'www.topbantz.com/privateLobby/' + myLobby.getId()}" />
                            <button class="btn btn-success" style="margin-left: 3%; margin-top: 3%" onclick="copyToClipboard('#lobbyLink')">Copy Link</button>

                            <div class="row" style="margin-left: 5%; margin-top: 5%">
                                <a th:href="@{'/privateLobby/' + ${myLobby.getId()}}"><h3 style="font-size: 20px;">My Lobby</h3></a>
                            </div>
                        </div>
                        <div th:each="lobby : ${joinedLobbies}" class="row" style="margin-left: 5%; margin-top:5%">
                            <a th:href="@{'/privateLobby/' + ${lobby.getId()}}"><h3 style="font-size: 20px;" th:text="${lobby.getCreator() + '''s Lobby'}"></h3></a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <script src="http://www.btfscores.com/widgets/widget-side.min.js" th:async="true"></script>
                    <div id="sidebar-soccer-goal" style="width:250px;"></div>
                </div>
            </div>

            <div class="col-lg-6 col-xs-12 scrollabelcolumn">

                <div class="postcard">
                    <div class="row" style="margin-left: 5%; margin-top:3%">
                        <h3>Search for users</h3>
                    </div>
                    <div class="row" style="margin-left: 5%; margin-top:3%; margin-bottom: 5%">
                        <div class="col-xs-10">
                            <input class="awesomplete sizeInput" id="userSearchInput" data-minchars="1" list="mylist" />
                            <datalist id="mylist">
                                <option th:each="oneUser : ${allUsers}"><span th:text="${oneUser}"></span></option>
                            </datalist>
                        </div>
                        <div class="col-xs-2" style="margin-left: 2%">
                            <button onclick="searchForUser()" id="userSearchButton" class="btn btn-success">Search</button>
                        </div>
                    </div>
                </div>

                <div class="postcard">
                    <div class="row" style="margin-left: 5%; margin-top:3%">
                        <h3>Create new post</h3>
                    </div>
                    <div class="row" style="margin-left: 5%; margin-top:1%">
                        <form style="width:90%" th:object="${videoPostForm}" th:action="@{/newPost}" method="POST">
                            <div class="form-group">
                                <label for="description">Post Description</label>
                                <textarea th:field="*{description}" class="form-control" id="description" style="width:100%; height: 100px;" placeholder="Description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="url">Youtube URL (copy in Youtube link for video)</label>
                                <input th:field="*{link}" class="form-control" style="width:100%;" type="text" placeholder="Youtube URL" id="url" />
                            </div>
                            <button style="margin-top: 3%; margin-bottom: 5%" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>


                <div class="videocard" th:each="post : ${posts}">
                    <div class="row" style="margin-left: 5%; margin-top:3%">
                        <p align="left" style="color: black"><img th:src="@{'/getFiles/' + ${post.getUser().getUsername()} + '.jpg'}" width="50px" height="50px" />  <a th:href="@{'/profile/' + ${post.getCreator()}}"><span th:text="${post.getUser().getFirstName()} + ' ' + ${post.getUser().getLastName()}"></span></a></p>
                    </div>

                    <div class="row" style="margin-left: 5%;">
                        <p align="left" style="color: black" th:text="${post.getDescription()}"></p>
                    </div>

                    <div class="row" style="margin-left: 5%;">
                        <p align="left"><a th:href="@{'/post/' + ${post.getId()}}">See full post</a></p>
                    </div>

                    <div class="row" style="margin-left: 5%;">
                        <p align="left" th:if="${user.getAdmin()}"><a th:href="@{'/post/' + ${post.getId()} + '/delete/'}"><i class="fa fa-times" aria-hidden="true"></i> Delete</a></p>
                    </div>

                    <div class="row" th:if="${post.getVideo()}" style="margin-top:3%">
                        <div style="align-content:center;height:0;margin-bottom:73%">
                            <iframe th:src="${post.getLink()}" width="480" height="360" frameborder="0" style="position:absolute;width:80%;left:10%"></iframe>
                        </div>
                    </div>

                    <div class="row buttonRow">
                        <div class="col-xs-3">
                            <a class="btn btn-success" th:href="'javascript:likeButton(\'' + ${post.getId()} + '\')'" th:id="${'like' + post.getId()}">
                                <!--th:href="@{'/like/' + ${post.getId()}}"-->
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                <span th:if="${!post.getLikeUsers().contains(user.getUsername())}" th:text="${'Like - ' + post.getLikes() + ' likes'}"></span>
                                <span th:if="${post.getLikeUsers().contains(user.getUsername())}" th:text="${'Liked - ' + post.getLikes() + ' likes'}"></span>
                            </a>
                        </div>
                        <div class="col-xs-1">
                            &nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="col-xs-3">
                            <a style="" class="btn btn-danger" th:href="'javascript:dislikeButton(\'' + ${post.getId()} + '\')'" th:id="${'dislike' + post.getId()}">
                                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                <span th:if="${!post.getDislikeUsers().contains(user.getUsername())}" th:text="${'Dislike - ' + post.getDislikes() + ' dislikes'}"></span>
                                <span th:if="${post.getDislikeUsers().contains(user.getUsername())}" th:text="${'Disliked - ' + post.getDislikes() + ' dislikes'}"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mobileNone">
                <div class="row">
                    <iframe width="300" height="350" src="http://www.football.co.uk/widget/premier-league/" frameborder="0" scrolling="no"></iframe>
                </div>
                <!--<div class="row">-->
                    <!--<iframe src="https://discordapp.com/widget?id=347112707809607680" width="350" height="500" allowtransparency="true" frameborder="0" style="margin-top:20px" />-->
                <!--</div>-->
                
            </div>
        </div>
        
    </div>


    <!-- Footer -->
    <footer class="text-center" style="margin-top: 10%;">
      <div class="footer-above">
        <div class="container">
          <div class="row">

            <div class="col-md-12">
              <h3>Social Media</h3>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-google-plus"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; Top Bantz 2017
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
      <a class="btn btn-primary page-scroll" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>


  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">TMTP Rules &amp; Regulations</h4>
              </div>
              <div class="modal-body">
                  <p style="color: black"><b>Disciplinary Actions</b><br />
                  -If an offence is committed a Yellow or Red Card will be issued.  The Rules are displayed below:<br />
                  <b>Yellow Card Offences</b><br />
                  A Yellow Card is held for a maximum of 7 days.<br />
                      - If however a second yellow card is issued for an offence within the 7 days, then an instant 1 match day ban will occur.  Examples of offences which could incur a yellow card are:
                      - The bigger it gets the harder it gets to keep up with the other pundits VN so we would like with the utmost respect if you could keep your voice notes to the maximum of 1min
                  <br />
                  <b>Red Card Offences</b><br />
                  1.  All TMTP’s members are treated as equals. If any pundit sends disrespectful banter (using the ‘N’ word, re*** and p*** etc. or any racial comment to other pundits) this is classed as a Red Card offence.
                  <br />
                  - If you write a negative message like racism even with different spellings and you are reported to the boardroom, you will get an instant red card explaining what you have done and showing evidence.<br />
                      - We do not tolerate any sort of racism because we have different races, religions and cultures on the TMTP'S.
                  <br />
                  2. We do not tolerate the following:
                  <br />
                a) Sexual content<br />
                      b) Images of killing<br />
                      c) Pornography or nudity.<br />

                  TMTP'S is a sports pundits group we don't want to promote any forms of violence, we like to keep sports related banter and positive messages, as the aim is to keep our pundits happy at all times.<br />
                  3. If a pundit becomes abusive to a fellow pundit(s) &amp; this argument targets family member or personal life will result in a lifetime ban from the TMTP’s group.<br />
                  - We do not mind pundits having a good old banter with a next pundit but we do not tolerate pundits being disrespectful about another pundit’s family member. This is one of TMTP important rules respect the other TMTP’s at all times.  Failure to adhere to the rules will also result in a lifetime ban.<br />

                  If any cards are to be issued from the boardroom it could be a yellow or a red card.  The decision is based on a majority vote.<br />
                  When someone has broken a rule, the Boardroom has 5 working days to respond to the person who has caused the offence or broken the rule.<br />
                  The pundit who causes the offence or broke the rule has the right to appeal against the decision.  The appeal must be 3 days from when the card has been issued.  Evidence must be provided to support the appeal<br />
                  The Board will not accept any grey areas within the Rules &amp; Regulations. If something happens that is not part of the Rules and Regulations i.e. a grey area, the boardroom has all rights to analyse the evidence and get back to the pundits within 24 hours to give their verdict.  Our aim is to make sure we respect all pundits at all times so TMTP's can be enjoyable for everyone<br />

                      <b>Confidentiality</b><br />
                      If a pundit(s) not happy with a situation and would like to talk privately. Please feel free to contact a Member of the Board by email. Your name will remain anonymous about the topic of what you have heard or seen and the Board will address the pundit(s) in regards to the matter.  Your right to remain anonymous will be upheld.<br />

                      <b>Appeals</b><br />
                      If you wish to appeal against a decision you have 4 days from the day you have received your punishment to do so.<br />
                      The Board Members may consider your appeal.  Once you have made make your appeal, we will get back to you within 2 days. If your appeal is unsuccessful and the Board thinks that you do not have a good enough reason then you may be liable for an extra day on a 3 day match ban.<br />
                      I would like to take this time to thank all our members for their support and we the Board hope you have an enjoyable experience and thanks for helping us move forward.<br />

                      <b>Thank you</b>

                  </p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>

      </div>
  </div>



  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script src="../static/vendor/popper/popper.min.js" th:src="@{/vendor/popper/popper.min.js}"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

  <!-- Plugin JavaScript -->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Contact Form JavaScript -->
  <script src="../static/js/jqBootstrapValidation.js" th:src="@{/js/jqBootstrapValidation.js}"></script>
  <script src="../static/js/contact_me.js" th:src="@{/js/contact_me.js}"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/js/freelancer.min.js" th:src="@{/js/freelancer.min.js}"></script>
  <script src="../static/js/login.js" th:src="@{/js/login.js}"></script>

<script>
    function copyToClipboard(element) {
        var $temp = $("<input />");
        $("body").append($temp);
        $temp.val($(element).val()).select();
        document.execCommand("copy");
        $temp.remove();
    }
</script>

  <!--<script type="text/javascript">-->
      <!--var images = ['1.jpg', '2.jpg', '3.jpg', '4.jpg', '5.jpg', '6.jpg', '7.jpg', '8.jpg', '9.jpg', '10.jpg'];-->
      <!--$('body').css({'background-image': 'url(/img/background/' + images[Math.floor(Math.random() * images.length)] + ')'});-->
  <!--</script>-->

  <script>
     function searchForUser() {
          var userValue = $('#userSearchInput').val();
          var endpoint = '/profile/' + userValue;
          console.log("entered");
          $.ajax({
              url: endpoint,
              crossDomain: true,
              success: function(data){
                console.log("Successful redirection");
                window.location.href = endpoint;
              }
          })
      }
  </script>

  <script th:inline="javascript">
        function likeButton(id){
            $.ajax({
                url: '/like/' + id,
                success: function(data){
                    var str = $("#like" + id + " > span").text();
                    if(str.charAt(4) == 'd'){
                        $("#like" + id + " > span").text("Like - " + data[0] + " likes");
                    }
                    else{
                        $("#like" + id + " > span").text("Liked - " + data[0] + " likes");
                        $("#dislike" + id + " > span").text("Dislike - " + data[1] + " dislikes");
                    }
                }
            })
        }

        function dislikeButton(id){
            $.ajax({
                url: '/dislike/' + id,
                success: function(data){
                    var str = $("#dislike" + id + " > span").text();
                    if(str.charAt(7) == 'd'){
                        $("#dislike" + id + " > span").text("Dislike - " + data[1] + " dislikes");
                    }
                    else{
                        $("#dislike" + id + " > span").text("Disliked - " + data[1] + " dislikes");
                        $("#like" + id + " > span").text("Like - " + data[0] + " likes");
                    }
                }
            })
        }

  </script>


  </body>

</html>
