<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>TMTP</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Custom fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

    <!-- Custom styles -->
    <link href="../static/css/freelancer.min.css" th:href="@{/css/freelancer.min.css}" rel="stylesheet" />
    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

</head>

<body class="index" id="page-top" style="background-repeat: repeat-y;">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <a class="navbar-brand" th:href="@{/home}">TMTP</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

            <li th:if="${user.getAdmin()}" class="nav-item">
                <a class="nav-link" th:href="@{/admin}">Admin Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/shop}">Store</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/jobs}">Jobs</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/lobbies}">Lobbies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://discord.gg/rbugQUr">Chat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/profile/' + ${username}}"><span th:text="'Hi, ' + ${fname} + '!'"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container statsmenu">
    <div class="row">

        <div class="col-lg-6">
            <p align="left" style="color: #00DEB6; font-size: 26px;">Overview</p>
        </div>

        <div class="col-lg-2">
            <p align="center" class="pointBox"><i class="fa fa-circle" style="color: #00ff00" aria-hidden="true"></i> <span th:text="${greenPoints}"></span></p>
        </div>

        <div class="col-lg-2">
            <p align="center" class="pointBox"><i class="fa fa-circle" style="color: #ffff00" aria-hidden="true"></i> <span th:text="${yellowPoints}"></span></p>
        </div>

        <div class="col-lg-2">
            <p align="center" class="pointBox"><i class="fa fa-circle" style="color: #ff0000" aria-hidden="true"></i> <span th:text="${redPoints}"></span></p>
        </div>

    </div>
    <div class="row">
        <div class="errorField2" th:if="${error}">
            <center>
                <p th:text="${errorMessage}" style="vertical-align: center;">This is an error message that spans on multiple lines to see if design is screwed!</p>
            </center>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 3%;">

    <div class="row stadiumCard" style="padding-bottom: 2% !important; align-content: center">
        <h2 style="margin-left: 3%">Want to submit a job?   </h2>
        <button class="btn btn-success center-block" style="color:white; font-size: 24px; margin-left: 5%" id="jobSubmitButton">Submit a job</button>

        <div class="form-control" style="background-color: #D8D8D8;margin-top:3%" id="jobSubmitForm">
            <form enctype="multipart/form-data" style="margin-left: 5%;width:90%" th:object="${jobForm}" th:action="@{/jobs/submit}" method="POST">
                <div class="form-group">
                    <label for="description">Job Name</label>
                    <input th:field="*{title}" type="text" class="form-control" id="description" style="width:100%;" />
                </div>
                <div class="form-group">
                    <label for="desc">Job Description</label>
                    <input th:field="*{description}" class="form-control" style="width:100%;" type="text"  id="desc" />
                </div>
                <div class="form-group">
                    <label for="country">Job Description</label>
                    <select th:field="*{country}" class="form-control" style="width:100%;" type="text"  id="country">
                        <option th:value="UK">UK</option>
                        <option th:value="USA">USA</option>
                        <option th:value="France">France</option>
                        <option th:value="Spain">Spain</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="location">Job Location</label>
                    <input th:field="*{location}" class="form-control" style="width:100%;" type="text"  id="location" />
                </div>
                <div class="form-group">
                    <label for="date">Job Start Date</label>
                    <input th:field="*{date}" class="form-control" style="width:100%;" type="text"  id="date" />
                </div>
                <div class="form-group">
                    <label for="details">Job Contact Details</label>
                    <input th:field="*{contact}" class="form-control" style="width:100%;" type="text"  id="details" />
                </div>
                <div class="form-group">
                    <label for="file">Additional Photos</label>
                    <input th:field="*{imagePath}" class="form-control" style="width:100%;" type="file"  id="file" />
                </div>
                <!--<button style="margin-top: 3%; margin-bottom: 5%" id="stripeButton" class="btn btn-success">Submit</button>-->
                <input type='hidden' th:value='2500' name='amount' />
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            th:attr='data-key=${stripePublicKey}'
                            data-amount="2500"
                            data-description="Fee for job advertisment form"
                            data-label="Submit"
                            data-name="TMTP"
                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                            data-locale="auto"
                            data-zip-code="true"
                            data-currency="gbp">
                    </script>
            </form>
        </div>
    </div>

    <div class="row stadiumCard">
        <!--<h3 style="margin-left: 5%">Available Jobs:</h3><br />-->

        <h2 style="margin-left: 5%"><u>United Kingdom</u></h2>
        <div style="width: 100%" th:each="job : ${jobs}">
            <div th:if="${job.getCountry()} == 'UK'">
                <h3 style="margin-left:5%; color: black" th:text="${job.getTitle()}"></h3>
                <p style="margin-left:5%; color: black" th:text="'Location: ' + ${job.getLocation()}"></p>
                <p style="margin-left:5%; color: black" th:text="'Start Date: ' + ${job.getDate()}"></p>
                <p style="margin-left:5%; color: black" th:text="'Contact Details: ' + ${job.getContact()}"></p>
                <p style="margin-left:5%; color: black" th:text="'Job Description: ' + ${job.getDescription()}"></p>
                <img style="margin-left: 3%" th:src="@{'/getFiles/' + ${job.getId()} + '.jpg'}" />
                <hr align="center" width="80%" style="background-color: #2C3E50;" />
            </div>
        </div>

        <h2 style="margin-left: 5%"><u>United States of America</u></h2>
        <div style="width: 100%" th:each="job : ${jobs}">
            <div th:if="${job.getCountry()} == 'USA'">
                <h3 style="margin-left:5%; color: black" th:text="${job.getTitle()}"></h3>
                <p style="margin-left:5%; color: black" th:text="'Location: ' + ${job.getLocation()}"></p>
                <p style="margin-left:5%; color: black" th:text="'Start Date: ' + ${job.getDate()}"></p>
                <p style="margin-left:5%; color: black" th:text="'Contact Details: ' + ${job.getContact()}"></p>
                <p style="margin-left:5%; color: black" th:text="'Job Description: ' + ${job.getDescription()}"></p>
                <img style="margin-left: 3%" th:src="@{'/getFiles/' + ${job.getId()} + '.jpg'}" />
                <hr align="center" width="80%" style="background-color: #2C3E50;" />
            </div>
        </div>

        <h2 style="margin-left: 5%"><u>France</u></h2>
        <div style="width: 100%" th:each="job : ${jobs}">
            <div th:if="${job.getCountry()} == 'France'">
                <h3 style="margin-left:5%; color: black" th:text="${job.getTitle()}"></h3>
                <p style="margin-left:5%; color: black" th:text="'Location: ' + ${job.getLocation()}"></p>
                <p style="margin-left:5%; color: black" th:text="'Start Date: ' + ${job.getDate()}"></p>
                <p style="margin-left:5%; color: black" th:text="'Contact Details: ' + ${job.getContact()}"></p>
                <p style="margin-left:5%; color: black" th:text="'Job Description: ' + ${job.getDescription()}"></p>
                <img style="margin-left: 3%" th:src="@{'/getFiles/' + ${job.getId()} + '.jpg'}" />
                <hr align="center" width="80%" style="background-color: #2C3E50;" />
            </div>
        </div>

        <h2 style="margin-left: 5%"><u>Spain</u></h2>
        <div style="width: 100%" th:each="job : ${jobs}">
            <div th:if="${job.getCountry()} == 'Spain'">
                <h3 style="margin-left:5%; color: black" th:text="${job.getTitle()}"></h3>
                <p style="margin-left:5%; color: black" th:text="'Location: ' + ${job.getLocation()}"></p>
                <p style="margin-left:5%; color: black" th:text="'Start Date: ' + ${job.getDate()}"></p>
                <p style="margin-left:5%; color: black" th:text="'Contact Details: ' + ${job.getContact()}"></p>
                <p style="margin-left:5%; color: black" th:text="'Job Description: ' + ${job.getDescription()}"></p>
                <img style="margin-left: 3%" th:src="@{'/getFiles/' + ${job.getId()} + '.jpg'}" />
                <hr align="center" width="80%" style="background-color: #2C3E50;" />
            </div>
        </div>

    </div>
</div>


<!-- Footer -->
<footer class="text-center" style="margin-top: 10%;">
    <div class="footer-above">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h3>Social Media</h3>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="#">
                                <i class="fa fa-fw fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="#">
                                <i class="fa fa-fw fa-google-plus"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="#">
                                <i class="fa fa-fw fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="#">
                                <i class="fa fa-fw fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; TMTP 2017
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top d-lg-none">
    <a class="btn btn-primary page-scroll" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>



<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script src="../static/vendor/popper/popper.min.js" th:src="@{/vendor/popper/popper.min.js}"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Contact Form JavaScript -->
<script src="../static/js/jqBootstrapValidation.js" th:src="@{/js/jqBootstrapValidation.js}"></script>
<script src="../static/js/contact_me.js" th:src="@{/js/contact_me.js}"></script>

<!-- Custom scripts for this template -->
<script src="../static/js/freelancer.min.js" th:src="@{/js/freelancer.min.js}"></script>
<script src="../static/js/login.js" th:src="@{/js/login.js}"></script>

<script type="text/javascript">
    var images = ['1.jpg', '2.jpg', '3.jpg', '4.jpg', '5.jpg', '6.jpg', '7.jpg', '8.jpg', '9.jpg', '10.jpg', '11.jpg', '12.jpg', '13.jpg',  '14.jpg', '15.jpg', '16.jpg', '17.jpg', '18.jpg', '19.jpg', '20.jpg', '21.jpg',];
    $('body').css({'background-image': 'url(/img/background/' + images[Math.floor(Math.random() * images.length)] + ')'});
</script>

<script>
    $("#jobSubmitForm").hide();
    $("#jobSubmitButton").on("click", function () {
       $("#jobSubmitForm").slideDown();
    });
</script>

<!--<script src="https://checkout.stripe.com/checkout.js"></script>-->
<!--<script>-->
    <!--var handler = StripeCheckout.configure({-->
        <!--key: 'pk_test_fhYCXyNal9IaUuFS8tUGYjVg',-->
        <!--image: 'https://stripe.com/img/documentation/checkout/marketplace.png',-->
        <!--locale: 'auto',-->
        <!--token: function(token) {-->
            <!--// You can access the token ID with `token.id`.-->
            <!--// Get the token ID to your server-side code for use.-->
        <!--}-->
    <!--});-->

    <!--$("#stripeButton").on('click', function(e) {-->
        <!--// Open Checkout with further options:-->
        <!--handler.open({-->
            <!--name: 'Job Advertisment',-->
            <!--description: 'Post a job advertisment',-->
            <!--zipCode: true,-->
            <!--amount: 2500-->
        <!--});-->
        <!--e.preventDefault();-->
    <!--});-->

    <!--// Close Checkout on page navigation:-->
    <!--window.addEventListener('popstate', function() {-->
        <!--handler.close();-->
    <!--});-->
<!--</script>-->

</body>

</html>
