<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>TMTP</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

  <!-- Custom fonts -->
  <link href="../static/vendor/font-awesome/css/font-awesome.min.css" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />

  <!-- Custom styles -->
  <link href="../static/css/freelancer.min.css" th:href="@{/css/freelancer.min.css}" rel="stylesheet" />
  <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet" />

  </head>

  <body class="index" id="page-top" style="background-repeat: repeat-y;">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <a class="navbar-brand" th:href="@{/home}">TMTP</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li th:if="${user.getAdmin()}" class="nav-item">
            <a class="nav-link" th:href="@{/admin}">Admin Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/shop}">Store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/jobs}">Jobs</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" th:href="@{/lobbies}">Lobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://discord.gg/rbugQUr">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{'/profile/' + ${username}}"><span th:text="'Hi, ' + ${fname} + '!'"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container statsmenu">
      <div class="row">

        <div class="col-lg-6">
          <p align="left" style="color: #00DEB6; font-size: 26px;">Overview</p>
        </div>

        <div class="col-lg-2">
          <p align="center" class="pointBox"><i class="fa fa-circle" style="color: #00ff00" aria-hidden="true"></i> <span th:text="${greenPoints}"></span></p>
        </div>

        <div class="col-lg-2">
          <p align="center" class="pointBox"><i class="fa fa-circle" style="color: #ffff00" aria-hidden="true"></i> <span th:text="${yellowPoints}"></span></p>
        </div>

        <div class="col-lg-2">
          <p align="center" class="pointBox"><i class="fa fa-circle" style="color: #ff0000" aria-hidden="true"></i> <span th:text="${redPoints}"></span></p>
        </div>

      </div>
    </div>

    <div class="container" style="margin-top: 3%;">
      <div class="row">
        <!--<div class="col-lg-3 mobileNone">-->
          <!--<script src="http://www.btfscores.com/widgets/widget-side.min.js" th:async="true"></script>-->
          <!--<div id="sidebar-soccer-goal" style="width:250px;"></div>-->
        <!--</div>-->

        <div class="col-md-9 col-xs-12 scrollabelcolumn">
          <div th:if="${league == 1}" class="row">
            <!--<iframe src="https://discordapp.com/widget?id=347112707809607680" width="350" height="500" allowtransparency="true" frameborder="0" style="margin-top:20px" />-->
            <!-- FAPremierLeague @ NandOX Chat / Start -->
            <script language="javascript">
                var nandconf = {};

                nandconf['website']           = 'www.tmtp.com';
                nandconf['room']              = 'FAPremierLeague';
                nandconf['lang']              = 'en';
                nandconf['fullscreen']        = '0';
                nandconf['width']             = '750';
                nandconf['height']            = '440';
                nandconf['skin']              = 'darkorange';
                nandconf['ulisticons']        = 'nandox';
                nandconf['eroschan']          = '0';
                nandconf['showServerWindow']  = '0';
                nandconf['disableFlash']      = '0';

            </script>
            <div id="free-chat-nandox"></div>
            <script type="text/javascript" src="https://www.nandox.com/js/free-chat-loader.js" async="async"></script>
            <!-- FAPremierLeague @ NandOX Chat / end -->

          </div>

          <div th:if="${league == 2}" class="row">
            <!-- FAPremierLeague @ NandOX Chat / Start -->
            <script language="javascript">
                var nandconf = {};

                nandconf['website']           = 'www.tmtp.com';
                nandconf['room']              = 'League1';
                nandconf['lang']              = 'en';
                nandconf['fullscreen']        = '0';
                nandconf['width']             = '750';
                nandconf['height']            = '440';
                nandconf['skin']              = 'darkorange';
                nandconf['ulisticons']        = 'nandox';
                nandconf['eroschan']          = '0';
                nandconf['showServerWindow']  = '0';
                nandconf['disableFlash']      = '0';

            </script>
            <div id="free-chat-nandox"></div>
            <script type="text/javascript" src="https://www.nandox.com/js/free-chat-loader.js" async="async"></script>
            <!-- FAPremierLeague @ NandOX Chat / end -->

          </div>

          <div th:if="${league == 3}" class="row">
            <!-- FAPremierLeague @ NandOX Chat / Start -->
            <script language="javascript">
                var nandconf = {};

                nandconf['website']           = 'www.tmtp.com';
                nandconf['room']              = 'Bundesliga';
                nandconf['lang']              = 'en';
                nandconf['fullscreen']        = '0';
                nandconf['width']             = '750';
                nandconf['height']            = '440';
                nandconf['skin']              = 'darkorange';
                nandconf['ulisticons']        = 'nandox';
                nandconf['eroschan']          = '0';
                nandconf['showServerWindow']  = '0';
                nandconf['disableFlash']      = '0';

            </script>
            <div id="free-chat-nandox"></div>
            <script type="text/javascript" src="https://www.nandox.com/js/free-chat-loader.js" async="async"></script>
            <!-- FAPremierLeague @ NandOX Chat / end -->

          </div>

          <div th:if="${league == 4}" class="row">
            <!-- FAPremierLeague @ NandOX Chat / Start -->
            <script language="javascript">
                var nandconf = {};

                nandconf['website']           = 'www.tmtp.com';
                nandconf['room']              = 'SerieA';
                nandconf['lang']              = 'en';
                nandconf['fullscreen']        = '0';
                nandconf['width']             = '750';
                nandconf['height']            = '440';
                nandconf['skin']              = 'darkorange';
                nandconf['ulisticons']        = 'nandox';
                nandconf['eroschan']          = '0';
                nandconf['showServerWindow']  = '0';
                nandconf['disableFlash']      = '0';

            </script>
            <div id="free-chat-nandox"></div>
            <script type="text/javascript" src="https://www.nandox.com/js/free-chat-loader.js" async="async"></script>
            <!-- FAPremierLeague @ NandOX Chat / end -->

          </div>

          <div th:if="${league == 5}" class="row">
            <!-- FAPremierLeague @ NandOX Chat / Start -->
            <script language="javascript">
                var nandconf = {};

                nandconf['website']           = 'www.tmtp.com';
                nandconf['room']              = 'LaLiga';
                nandconf['lang']              = 'en';
                nandconf['fullscreen']        = '0';
                nandconf['width']             = '750';
                nandconf['height']            = '440';
                nandconf['skin']              = 'darkorange';
                nandconf['ulisticons']        = 'nandox';
                nandconf['eroschan']          = '0';
                nandconf['showServerWindow']  = '0';
                nandconf['disableFlash']      = '0';

            </script>
            <div id="free-chat-nandox"></div>
            <script type="text/javascript" src="https://www.nandox.com/js/free-chat-loader.js" async="async"></script>
            <!-- FAPremierLeague @ NandOX Chat / end -->

          </div>

          <div th:if="${league == 6}" class="row">
            <!-- FAPremierLeague @ NandOX Chat / Start -->
            <script language="javascript">
                var nandconf = {};

                nandconf['website']           = 'www.tmtp.com';
                nandconf['room']              = 'PrimeiraLiga';
                nandconf['lang']              = 'en';
                nandconf['fullscreen']        = '0';
                nandconf['width']             = '750';
                nandconf['height']            = '440';
                nandconf['skin']              = 'darkorange';
                nandconf['ulisticons']        = 'nandox';
                nandconf['eroschan']          = '0';
                nandconf['showServerWindow']  = '0';
                nandconf['disableFlash']      = '0';

            </script>
            <div id="free-chat-nandox"></div>
            <script type="text/javascript" src="https://www.nandox.com/js/free-chat-loader.js" async="async"></script>
            <!-- FAPremierLeague @ NandOX Chat / end -->

          </div>

          <div th:if="${league == 7}" class="row">
            <!-- FAPremierLeague @ NandOX Chat / Start -->
            <script language="javascript">
                var nandconf = {};

                nandconf['website']           = 'www.tmtp.com';
                nandconf['room']              = 'DutchEredivisie';
                nandconf['lang']              = 'en';
                nandconf['fullscreen']        = '0';
                nandconf['width']             = '750';
                nandconf['height']            = '440';
                nandconf['skin']              = 'darkorange';
                nandconf['ulisticons']        = 'nandox';
                nandconf['eroschan']          = '0';
                nandconf['showServerWindow']  = '0';
                nandconf['disableFlash']      = '0';

            </script>
            <div id="free-chat-nandox"></div>
            <script type="text/javascript" src="https://www.nandox.com/js/free-chat-loader.js" async="async"></script>
            <!-- FAPremierLeague @ NandOX Chat / end -->
          </div>

          <div class="row">
            <iframe th:if="${league == 1}" src="https://tokbox.com/embed/embed/ot-embed.js?embedId=7c58cb2b-7d06-4eb4-989a-7e66d58265c8&amp;room=DEFAULT_ROOM&amp;iframe=true" width="800px" height="640px" ></iframe>

            <iframe th:if="${league == 2}" src="https://tokbox.com/embed/embed/ot-embed.js?embedId=bdec210f-cb7e-43de-b9b8-abd68a5cc91d&amp;room=DEFAULT_ROOM&amp;iframe=true" width="800px" height="640px" ></iframe>

            <iframe th:if="${league == 3}" src="https://tokbox.com/embed/embed/ot-embed.js?embedId=d74e60fb-4c07-44df-a87c-c9959937dd33&amp;room=DEFAULT_ROOM&amp;iframe=true" width="800px" height="640px"></iframe>

            <iframe th:if="${league == 4}" src="https://tokbox.com/embed/embed/ot-embed.js?embedId=89fa68e4-d812-4ece-8092-f5bd47638d24&amp;room=DEFAULT_ROOM&amp;iframe=true" width="800px" height="640px" ></iframe>

            <iframe th:if="${league == 5}" src="https://tokbox.com/embed/embed/ot-embed.js?embedId=da5261cd-6098-42eb-8ac2-aef7736b9f1d&amp;room=DEFAULT_ROOM&amp;iframe=true" width="800px" height="640px" ></iframe>

            <iframe th:if="${league == 6}" src="https://tokbox.com/embed/embed/ot-embed.js?embedId=db800cae-6b40-448a-be11-ee2913b1f4ab&amp;room=DEFAULT_ROOM&amp;iframe=true" width="800px" height="640px" ></iframe>

            <iframe th:if="${league == 7}" src="https://tokbox.com/embed/embed/ot-embed.js?embedId=99edfcb4-e6d0-4b9c-8dae-c3ac80d5d262&amp;room=DEFAULT_ROOM&amp;iframe=true" width="800px" height="640px" ></iframe>

          </div>

          <div class="row" style="margin-top: 3%; margin-left: 3%;">
            <iframe th:if="${league == 1}" frameborder="0"  scrolling="no" width="520" height="700" src="https://www.fctables.com/england/premier-league/iframe/?type=table&amp;lang_id=2&amp;country=5&amp;template=10&amp;team=&amp;timezone=Europe/London&amp;time=24&amp;po=1&amp;ma=1&amp;wi=1&amp;dr=1&amp;los=1&amp;gf=1&amp;ga=1&amp;gd=1&amp;pts=1&amp;ng=1&amp;form=1&amp;width=520&amp;height=700&amp;font=Verdana&amp;fs=12&amp;lh=22&amp;bg=FFFFFF&amp;fc=333333&amp;logo=1&amp;tlink=1&amp;ths=1&amp;thb=1&amp;thba=FFFFFF&amp;thc=000000&amp;bc=dddddd&amp;hob=f5f5f5&amp;hobc=ebe7e7&amp;lc=333333&amp;sh=1&amp;hfb=1&amp;hbc=3bafda&amp;hfc=FFFFFF"></iframe><div style="text-align:center;"></div><a th:if="${league == 1}" href="https://www.fctables.com/england/premier-league/" rel="nofollow">FcTables.com</a>
            <iframe th:if="${league == 2}" frameborder="0"  scrolling="no" width="520" height="700" src="https://www.fctables.com/england/league-1/iframe/?type=table&amp;lang_id=2&amp;country=5&amp;template=44&amp;team=&amp;timezone=Europe/London&amp;time=24&amp;po=1&amp;ma=1&amp;wi=1&amp;dr=1&amp;los=1&amp;gf=1&amp;ga=1&amp;gd=1&amp;pts=1&amp;ng=1&amp;form=1&amp;width=520&amp;height=700&amp;font=Verdana&amp;fs=12&amp;lh=22&amp;bg=FFFFFF&amp;fc=333333&amp;logo=1&amp;tlink=1&amp;ths=1&amp;thb=1&amp;thba=FFFFFF&amp;thc=000000&amp;bc=dddddd&amp;hob=f5f5f5&amp;hobc=ebe7e7&amp;lc=333333&amp;sh=1&amp;hfb=1&amp;hbc=3bafda&amp;hfc=FFFFFF"></iframe><div style="text-align:center;"></div><a th:if="${league == 2}" href="https://www.fctables.com/england/league-1/" rel="nofollow">FcTables.com</a>
            <iframe th:if="${league == 3}" frameborder="0"  scrolling="no" width="520" height="700" src="https://www.fctables.com/germany/1-bundesliga/iframe/?type=table&amp;lang_id=2&amp;country=83&amp;template=16&amp;timezone=Europe/London&amp;time=24&amp;po=1&amp;ma=1&amp;wi=1&amp;dr=1&amp;los=1&amp;gf=1&amp;ga=1&amp;gd=1&amp;pts=1&amp;ng=1&amp;form=1&amp;width=520&amp;height=700&amp;font=Verdana&amp;fs=12&amp;lh=22&amp;bg=FFFFFF&amp;fc=333333&amp;logo=1&amp;tlink=1&amp;ths=1&amp;thb=1&amp;thba=FFFFFF&amp;thc=000000&amp;bc=dddddd&amp;hob=f5f5f5&amp;hobc=ebe7e7&amp;lc=333333&amp;sh=1&amp;hfb=1&amp;hbc=3bafda&amp;hfc=FFFFFF"></iframe><div style="text-align:center;"></div><a th:if="${league == 3}" href="https://www.fctables.com/germany/1-bundesliga/" rel="nofollow">FcTables.com</a>
            <iframe th:if="${league == 4}" frameborder="0"  scrolling="no" width="520" height="700" src="https://www.fctables.com/italy/serie-a/iframe/?type=table&amp;lang_id=2&amp;country=108&amp;template=17&amp;timezone=Europe/London&amp;time=24&amp;po=1&amp;ma=1&amp;wi=1&amp;dr=1&amp;los=1&amp;gf=1&amp;ga=1&amp;gd=1&amp;pts=1&amp;ng=1&amp;form=1&amp;width=520&amp;height=700&amp;font=Verdana&amp;fs=12&amp;lh=22&amp;bg=FFFFFF&amp;fc=333333&amp;logo=1&amp;tlink=1&amp;ths=1&amp;thb=1&amp;thba=FFFFFF&amp;thc=000000&amp;bc=dddddd&amp;hob=f5f5f5&amp;hobc=ebe7e7&amp;lc=333333&amp;sh=1&amp;hfb=1&amp;hbc=3bafda&amp;hfc=FFFFFF"></iframe><div style="text-align:center;"></div><a th:if="${league == 4}" href="https://www.fctables.com/italy/serie-a/" rel="nofollow">FcTables.com</a>
            <iframe th:if="${league == 5}" frameborder="0"  scrolling="no" width="520" height="700" src="https://www.fctables.com/spain/liga-bbva/iframe/?type=table&amp;lang_id=2&amp;country=201&amp;template=43&amp;timezone=Europe/London&amp;time=24&amp;po=1&amp;ma=1&amp;wi=1&amp;dr=1&amp;los=1&amp;gf=1&amp;ga=1&amp;gd=1&amp;pts=1&amp;ng=1&amp;form=1&amp;width=520&amp;height=700&amp;font=Verdana&amp;fs=12&amp;lh=22&amp;bg=FFFFFF&amp;fc=333333&amp;logo=1&amp;tlink=1&amp;ths=1&amp;thb=1&amp;thba=FFFFFF&amp;thc=000000&amp;bc=dddddd&amp;hob=f5f5f5&amp;hobc=ebe7e7&amp;lc=333333&amp;sh=1&amp;hfb=1&amp;hbc=3bafda&amp;hfc=FFFFFF"></iframe><div style="text-align:center;"></div><a th:if="${league == 5}" href="https://www.fctables.com/spain/liga-bbva/" rel="nofollow">FcTables.com</a>
            <iframe th:if="${league == 6}" frameborder="0"  scrolling="no" width="520" height="700" src="https://www.fctables.com/portugal/liga-zon-sagres/iframe/?type=table&amp;lang_id=2&amp;country=175&amp;template=23&amp;team=&amp;timezone=Europe/London&amp;time=24&amp;po=1&amp;ma=1&amp;wi=1&amp;dr=1&amp;los=1&amp;gf=1&amp;ga=1&amp;gd=1&amp;pts=1&amp;ng=1&amp;form=1&amp;width=520&amp;height=700&amp;font=Verdana&amp;fs=12&amp;lh=22&amp;bg=FFFFFF&amp;fc=333333&amp;logo=1&amp;tlink=1&amp;ths=1&amp;thb=1&amp;thba=FFFFFF&amp;thc=000000&amp;bc=dddddd&amp;hob=f5f5f5&amp;hobc=ebe7e7&amp;lc=333333&amp;sh=1&amp;hfb=1&amp;hbc=3bafda&amp;hfc=FFFFFF"></iframe><div style="text-align:center;"></div><a th:if="${league == 6}" href="https://www.fctables.com/portugal/liga-zon-sagres/" rel="nofollow">FcTables.com</a>
            <iframe th:if="${league == 7}" frameborder="0"  scrolling="no" width="520" height="700" src="https://www.fctables.com/netherlands/eredivisie/iframe/?type=table&amp;lang_id=2&amp;country=155&amp;template=19&amp;timezone=Europe/London&amp;time=24&amp;po=1&amp;ma=1&amp;wi=1&amp;dr=1&amp;los=1&amp;gf=1&amp;ga=1&amp;gd=1&amp;pts=1&amp;ng=1&amp;form=1&amp;width=520&amp;height=700&amp;font=Verdana&amp;fs=12&amp;lh=22&amp;bg=FFFFFF&amp;fc=333333&amp;logo=1&amp;tlink=1&amp;ths=1&amp;thb=1&amp;thba=FFFFFF&amp;thc=000000&amp;bc=dddddd&amp;hob=f5f5f5&amp;hobc=ebe7e7&amp;lc=333333&amp;sh=1&amp;hfb=1&amp;hbc=3bafda&amp;hfc=FFFFFF"></iframe><div style="text-align:center;"></div><a th:if="${league == 7}"  href="https://www.fctables.com/netherlands/eredivisie/" rel="nofollow">FcTables.com</a>
          </div>

        </div>

        <div class="col-md-3">
          <div class="row">
            <iframe width="300" height="350" src="http://www.football.co.uk/widget/premier-league/" frameborder="0" scrolling="no"></iframe>
          </div>

        </div>
      </div>

    </div>
    

    <!-- Footer -->
    <footer class="text-center" style="margin-top: 10%;">
      <div class="footer-above">
        <div class="container">
          <div class="row">

            <div class="col-md-12">
              <h3>Social Media</h3>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-google-plus"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; TMTP 2017
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
      <a class="btn btn-primary page-scroll" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>



    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src="../static/vendor/popper/popper.min.js" th:src="@{/vendor/popper/popper.min.js}"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js" th:src="@{/js/jqBootstrapValidation.js}"></script>
    <script src="../static/js/contact_me.js" th:src="@{/js/contact_me.js}"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/freelancer.min.js" th:src="@{/js/freelancer.min.js}"></script>

    <script type="text/javascript">
        var images = ['1.jpg', '2.jpg', '3.jpg', '4.jpg', '5.jpg', '6.jpg', '7.jpg', '8.jpg', '9.jpg', '10.jpg', '11.jpg', '12.jpg', '13.jpg',  '14.jpg', '15.jpg', '16.jpg', '17.jpg', '18.jpg', '19.jpg', '20.jpg', '21.jpg',];
        $('body').css({'background-image': 'url(/img/background/' + images[Math.floor(Math.random() * images.length)] + ')'});
    </script>

  </body>

</html>
