<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Top Bantz</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Custom fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />

    <!-- Custom styles -->
    <link href="../static/css/freelancer.min.css" th:href="@{/css/freelancer.min.css}" rel="stylesheet" />
    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet" />

    <script async="true" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9674699695564602",
            enable_page_level_ads: true
        });
    </script>

</head>

<body class="index" id="page-top" th:background="@{/img/background/grass.png}" style="background-repeat: repeat">

<!-- Navigation -->
<!--<nav th:replace="fragments/navbar :: navbar"></nav>-->

<div th:replace="fragments/ads :: adstop"></div>

<!--<div style="margin-top: 2% !important;" class="container statsmenu">-->

    <!--<div class="row">-->
        <!--<div class="col-lg-3">-->
            <!--<p align="left" style="color: #00DEB6; font-size: 26px;">Overview</p>-->
        <!--</div>-->

        <!--<div class="col-lg-3">-->
            <!--<p align="center" class="pointBox"><i class="fa fa-square" style="color: #00ff00" aria-hidden="true"></i>-->
                <!--<span th:text="${greenPoints + ' Green Points'}"></span></p>-->
        <!--</div>-->

        <!--<div class="col-lg-3">-->
            <!--<p align="center" class="pointBox"><i class="fa fa-square" style="color: #ffff00" aria-hidden="true"></i>-->
                <!--<span th:text="${yellowPoints + ' Yellow Cards'}"></span></p>-->
        <!--</div>-->

        <!--<div class="col-lg-3">-->
            <!--<p align="center" class="pointBox"><i class="fa fa-square" style="color: #ff0000" aria-hidden="true"></i>-->
                <!--<span th:text="${redPoints + ' Red Cards'}"></span></p>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
        <!--<div class="errorField2" th:if="${error}">-->
            <!--<center>-->
                <!--<p th:text="${errorMessage}" style="vertical-align: center;">This is an error message that spans on-->
                    <!--multiple lines to see if design is screwed!</p>-->
            <!--</center>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="container navbarmargin2" style="margin-top: 3%;">
    <!--<div class="text-center stadiumCard">-->
        <!--<center>-->
        <!--<h1>To access live voice chat lobbies, click the following button:</h1>-->
        <!--<a class="btn btn-success" href="https://discord.gg/pHnEN2s">Join chat</a>-->
        <!--</center>-->
    <!--</div>-->
    <div class="row stadiumCardBlue" style="width: 100%; margin-left: 1%">
    <center><h2 th:if="${lobbyType.equals('league')}" style="color:white !important;">League Lobbies</h2>
    <h3 th:if="${lobbyType.equals('league')}" style="color:white !important;">
        Banter with your teammates from across the globe in your chosen club or league. Or jump in a rival team room to hear what's going on.
    </h3></center>
    </div>
    <div th:if="${lobbyType.equals('league')}" class="row">
        <div class="col-md-4 mobile-sm-4">
            <center>
                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/fapremier}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/PremierLeague.png}" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/brasil}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/Brazil.jpg}" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/serieA}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/ItalianSerieA.png}" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important;">
                    <a th:href="@{/mobile/lobby/dutcheredivisie}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/DutchEredivise.jpg}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/swiss}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/SwissSuperleague.jpg}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/turkish}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/TurkishSuperLig.png}" width="95%"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/scotland}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/ScottishPremLeague.png}" width="90%"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/gay}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/gay.png}" width="80%" /></a>
                </div>

            </center>
        </div>
        <div class="col-md-4 mobile-sm-4">
            <center>
                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/league1}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/Ligue1.png}" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/bundesliga}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/Bundesliga.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/usamls}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/USAMLS.jpg}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/mexican}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/MexicanLigaMX.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/russian}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/RussianPremLeague.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/japan}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/JapanJ1.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/polish}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/Polish.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/african}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/African.png}"/></a>
                </div>

        </center>
        </div>
        <div class="col-md-4 mobile-sm-4">
            <center>
                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/laliga}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/LaLiga.png}" width="80%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/primeiraliga}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/PortugalLeague.png}" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/chinese}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/China.png}" width="95%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/belgium}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/Belgian.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/ukranian}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/UkranianPremLeague.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/argentina}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/Argentinia.png}" width="90%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/women}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/WomenSuperLeague.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/championship}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/Championship.png}"/></a>
                </div>

            </center>
        </div>
    </div>

    <div class="row stadiumCardBlue" style="width: 100%; margin-left: 1%">
    <center><h2 th:if="${lobbyType.equals('club')}" style="color:white !important">Club Lobbies</h2>
    <h3 th:if="${lobbyType.equals('club')}" style="color:white !important;">
        Banter with your teammates from across the globe in your chosen club or league. Or jump in a rival team room to hear what's going on.
    </h3></center>
    </div>
    <div th:if="${lobbyType.equals('club')}" class="row">
        <div class="col-md-4 mobile-sm-4">
            <center>
                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/barcelona}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/FCB.png}" width="90%"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/chelsea}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Chelsea.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/liverpool}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Liverpool.png}" width="80%"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/acmilan}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/ACMilan.png}" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/atletico}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Atletico.png}" width="80%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/santos}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Santos.png}" width="80%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/innermilan}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/InterMilan.png}" width="80%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/everton}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Everton.png}" width="90%"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/monaco}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Monaco.png}" width="90%"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/napoli}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Napoli.png}" width="90%"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/feyenoord}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Feyenoord.png}" width="90%"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/generalBanter}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/generalBanter.png}" width="90%"/></a>
                </div>

            </center>
        </div>

        <div class="col-md-4 mobile-sm-4">
            <center>
                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/realmadrid}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Barcelona.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/arsenal}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Arsenal.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/psg}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/PSG.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/mancity}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/ManCity.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/lyonnais}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Lyonnais.png}" width="80%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/ajax}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Ajax.png}" width="80%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/asroma}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/ASRoma.png}" width="80%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/leicester}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Leicester.png}" width="90%"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/valencia}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Valencia.png}" width="90%"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/lazio}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Lazio.png}" width="90%"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/rangers}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Rangers.png}" width="90%"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/leverkusen}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Leverkusen.png}" width="90%"/></a>
                </div>

            </center>
        </div>

        <div class="col-md-4 mobile-sm-4">
            <center>
                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/manu}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/ManU.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/bayern}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/BayernMunich.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/juventus}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Juventus.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/tottenham}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Tottenham.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/palmeiras}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Palmeiras.png}" width="80%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/celtic}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Celtic.png}" width="80%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/dortmund}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Dortmund.png}" width="80%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/marseille}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Marseille.png}" width="90%"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/sevilla}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Sevilla.png}" width="90%"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/eindhoven}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Eindhoven.png}" width="90%"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/astonvilla}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Aston_Villa_Logo.png}" width="90%"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/mobile/lobby/schalke}"><img style="margin-left:4%; width: 94%;" th:src="@{/img/lobbies/clubs/Schalke.png}" width="90%"/></a>
                </div>
            </center>
        </div>
    </div>


</div>

<br/><br/>
<div th:replace="fragments/ads :: adsbottom"></div>

<!-- Footer -->
<footer th:replace="fragments/footer :: footer"></footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top d-lg-none">
    <a class="btn btn-primary page-scroll" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Modal -->
<div th:replace="fragments/infomodal :: infomodal"></div>
<div th:replace="fragments/infomodal :: mailmodal"></div>

<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script src="../static/vendor/popper/popper.min.js" th:src="@{/vendor/popper/popper.min.js}"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Contact Form JavaScript -->
<script src="../static/js/jqBootstrapValidation.js" th:src="@{/js/jqBootstrapValidation.js}"></script>
<script src="../static/js/contact_me.js" th:src="@{/js/contact_me.js}"></script>

<!-- Custom scripts for this template -->
<script src="../static/js/freelancer.min.js" th:src="@{/js/freelancer.min.js}"></script>

<!--<script type="text/javascript">-->
    <!--var images = ['1.jpg', '2.jpg', '3.jpg', '4.jpg', '5.jpg', '6.jpg', '7.jpg', '8.jpg', '9.jpg', '10.jpg'];    $('body').css({'background-image': 'url(/img/background/' + images[Math.floor(Math.random() * images.length)] + ')'});-->
<!--</script>-->

<script>
    $('.adBanner').hide();
    var randNoMobile = -1;
    var randNoDesktop = -1;
    var randNoMobile_down = -1;
    var randNoDesktop_down = -1;

    $(document).ready(function () {
        randNoMobile = Math.floor((Math.random() * 14) + 1);
        randNoDesktop = Math.floor((Math.random() * 8) + 1);
        randNoMobile_down = Math.floor((Math.random() * 14) + 1);
        randNoDesktop_down = Math.floor((Math.random() * 8) + 1);

        var startWidth = $(window).width();
        if (Math.min(startWidth, 800) !== 800) {
            $('#mobileAdBanner' + randNoMobile).show();
            $('#mobileAdBanner' + randNoMobile_down + "_down").show();
            $('.top-ads-container').css('marginTop', '15%');
        } else {
            $('#desktopAdBanner' + randNoDesktop).show();
            $('#desktopAdBanner' + randNoDesktop_down + "_down").show();
            $('.top-ads-container').css('marginTop', '10%');
        }
    });

    $(window).resize(function () {
        if (randNoMobile == -1) {
            randNoMobile = Math.floor((Math.random() * 14) + 1);
        }
        if (randNoDesktop == -1) {
            randNoDesktop = Math.floor((Math.random() * 8) + 1);
        }
        if (randNoMobile_down == -1) {
            randNoMobile_down = Math.floor((Math.random() * 14) + 1);
        }
        if (randNoDesktop_down == -1) {
            randNoDesktop_down = Math.floor((Math.random() * 8) + 1);
        }
        $('.adBanner').hide();
        var startWidth = $(window).width();
        if (Math.min(startWidth, 800) !== 800) {
            $('#mobileAdBanner' + randNoMobile).show();
            $('#mobileAdBanner' + randNoMobile_down + "_down").show();
            $('.top-ads-container').css('marginTop', '15%');
        } else {
            $('#desktopAdBanner' + randNoDesktop).show();
            $('#desktopAdBanner' + randNoDesktop_down + "_down").show();
            $('.top-ads-container').css('marginTop', '10%');
        }
    });
</script>

<script>
    $("#slideshow > div:gt(0)").hide();
    $("#slideshow2 > div:gt(0)").hide();

    setInterval(function() {
        $('#slideshow > div:first')
            .fadeOut(0)
            .next()
            .fadeIn(1000)
            .end()
            .appendTo('#slideshow');
    },  4000);

    setInterval(function() {
        $('#slideshow2 > div:first')
            .fadeOut(0)
            .next()
            .fadeIn(1000)
            .end()
            .appendTo('#slideshow2');
    },  4000);
</script>

</body>

</html>
