<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>TMTP</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Custom fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />

    <!-- Custom styles -->
    <link href="../static/css/freelancer.min.css" th:href="@{/css/freelancer.min.css}" rel="stylesheet" />
    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet" />

    <script async="true" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-3993803388816871",
            enable_page_level_ads: true
        });
    </script>

</head>

<body class="index" id="page-top" th:background="@{/img/background/grass.jpg}" style="background-repeat: repeat">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <a class="navbar-brand" th:href="@{/home}">Top Bantz</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

            <li th:if="${user.getAdmin()}" class="nav-item">
                <a class="nav-link" th:href="@{/admin}">Admin Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/shop}"><i class="fa fa-shopping-cart" style="color: white" aria-hidden="true"></i> Merchandise</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lobbies/league}"><i class="fa fa-futbol-o" style="color: white" aria-hidden="true"></i> Master Leagues</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lobbies/club}"><i class="fa fa-futbol-o" style="color: white" aria-hidden="true"></i> Club Lobbies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/profile/' + ${username}}"><i class="fa fa-user" style="color: white" aria-hidden="true"></i> <span th:text="'Hi, ' + ${username} + '!'"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.gofundme.com/topbantz">Donate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#myModal"><i class="fa fa-book" style="color: white" aria-hidden="true"></i> Rules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#myModal2"><i class="fa fa-question" style="color: white" aria-hidden="true"></i> FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/jobs}"><i class="fa fa-address-card" style="color: white" aria-hidden="true"></i> Ads/Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}"><i class="fa fa-sign-out" style="color: white" aria-hidden="true"></i> Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container statsmenu">
    <div class="row">

        <div class="col-lg-6">
            <p align="left" style="color: #00DEB6; font-size: 26px;">Overview</p>
        </div>

        <div class="col-lg-2">
            <p align="center" class="pointBox"><i class="fa fa-square" style="color: #00ff00" aria-hidden="true"></i> <span th:text="${greenPoints}"></span></p>
        </div>

        <div class="col-lg-2">
            <p align="center" class="pointBox"><i class="fa fa-square" style="color: #ffff00" aria-hidden="true"></i> <span th:text="${yellowPoints}"></span></p>
        </div>

        <div class="col-lg-2">
            <p align="center" class="pointBox"><i class="fa fa-square" style="color: #ff0000" aria-hidden="true"></i> <span th:text="${redPoints}"></span></p>
        </div>

    </div>
    <div class="row">

        <div class="col-lg-6">
            <p align="left" style="color: #00DEB6; font-size: 26px;">of points and cards</p>
        </div>

        <div class="col-lg-2">
            <p align="center"><span style="color: #00ff00">Green Points</span></p>
        </div>

        <div class="col-lg-2">
            <p align="center"><span style="color: yellow">Yellow Cards</span></p>
        </div>

        <div class="col-lg-2">
            <p align="center"><span style="color: red">Red Cards</span></p>
        </div>

    </div>
</div>

<div class="container" style="margin-top: 3%;">
    <div class="row stadiumCard">
        <center>
        <h1>To access live and voice chat lobbies, click the following button:</h1>
        <a class="btn btn-success" href="https://discord.gg/4EatRXq">Join chat</a>
        </center>
    </div>
    <h2 th:if="${lobbyType.equals('league')}" style="color:white !important;"><u>League Lobbies</u></h2>
    <h3 th:if="${lobbyType.equals('league')}" style="color:white !important;"><u>Banter your team from the top performing football clubs across the world</u></h3>
    <div th:if="${lobbyType.equals('league')}" class="row">
        <div class="col-md-4">
            <center>
                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/fapremier}"><img style="margin-left:4%" th:src="@{/img/lobbies/PremierLeague.png}" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/brasil}"><img style="margin-left:4%" th:src="@{/img/lobbies/Brasil.png}" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/serieA}"><img style="margin-left:4%" th:src="@{/img/lobbies/ItalianSerieA.png}" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/dutcheredivisie}"><img style="margin-left:4%" th:src="@{/img/lobbies/DutchEredevise.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/swiss}"><img style="margin-left:4%" th:src="@{/img/lobbies/SwissSuperleague.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/turkish}"><img style="margin-left:4%" th:src="@{/img/lobbies/TurkishSuperLig.png}" width="95%"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/scotland}"><img style="margin-left:4%" th:src="@{/img/lobbies/ScottishPremLeague.png}" width="90%"/></a>
                </div>

            </center>
        </div>
        <div class="col-md-4">
            <center>
                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/league1}"><img style="margin-left:4%" th:src="@{/img/lobbies/Ligue1.png}" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/bundesliga}"><img style="margin-left:4%" th:src="@{/img/lobbies/Bundesliga.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/usamls}"><img style="margin-left:4%" th:src="@{/img/lobbies/USAMLS.gif}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/mexican}"><img style="margin-left:4%" th:src="@{/img/lobbies/MexicanLigaMX.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/russian}"><img style="margin-left:4%" th:src="@{/img/lobbies/RussianPremLeague.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/japan}"><img style="margin-left:4%" th:src="@{/img/lobbies/JapanJ1.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/polish}"><img style="margin-left:4%" th:src="@{/img/lobbies/Polish.png}"/></a>
                </div>

        </center>
        </div>
        <div class="col-md-4">
            <center>
                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/laliga}"><img style="margin-left:4%" th:src="@{/img/lobbies/LaLiga.png}" width="80%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/primeiraliga}"><img style="margin-left:4%" th:src="@{/img/lobbies/PortugalLeague.png}" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/chinese}"><img style="margin-left:4%" th:src="@{/img/lobbies/China.png}" width="95%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/belgium}"><img style="margin-left:4%" th:src="@{/img/lobbies/Belgian.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/ukranian}"><img style="margin-left:4%" th:src="@{/img/lobbies/UkranianPremLeague.jpg}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/argentina}"><img style="margin-left:4%" th:src="@{/img/lobbies/Argentinia.png}" width="90%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/women}"><img style="margin-left:4%" th:src="@{/img/lobbies/WomenSuperLeague.png}"/></a>
                </div>

            </center>
        </div>
    </div>

    <h2 th:if="${lobbyType.equals('club')}" style="color:white !important"><u>Club Lobbies</u></h2>
    <div th:if="${lobbyType.equals('club')}" class="row">
        <div class="col-md-4">
            <center>
                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/barcelona}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/FCB.png}" width="90%"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/chelsea}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/Chelsea.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/liverpool}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/Liverpool.png}" width="80%"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/acmilan}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/ACMilan.png}" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/atletico}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/Atletico.png}" width="80%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/santos}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/Santos.png}" width="80%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/innermilan}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/InterMilan.jpg}" width="80%" /></a>
                </div>

            </center>
        </div>

        <div class="col-md-4">
            <center>
                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/realmadrid}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/Barcelona.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/arsenal}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/Arsenal.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/psg}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/PSG.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/mancity}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/ManCity.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/lyonnais}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/Lyonnais.png}" width="80%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/ajax}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/Ajax.png}" width="80%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/asroma}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/ASRoma.png}" width="80%" /></a>
                </div>

            </center>
        </div>

        <div class="col-md-4">
            <center>
                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/manu}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/ManU.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/bayern}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/BayernMunich.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/juventus}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/Juventus.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/tottenham}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/Tottenham.png}"/></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/palmeiras}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/Palmeiras.png}" width="80%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/celtic}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/Celtic.png}" width="80%" /></a>
                </div>

                <div class="row stadiumCard" style="margin-right:2%; width: 80% !important">
                    <a th:href="@{/lobby/dortmund}"><img style="margin-left:4%" th:src="@{/img/lobbies/clubs/Dortmund.png}" width="80%" /></a>
                </div>
            </center>
        </div>
    </div>


</div>


<!-- Footer -->
<footer class="text-center" style="margin-top: 10%;">
    <div class="footer-above">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h3>Social Media</h3>
                    <ul class="list-inline">

                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="https://plus.google.com/u/0/105657970600756533313">
                                <i class="fa fa-fw fa-google-plus"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="https://twitter.com/TopMenTP">
                                <i class="fa fa-fw fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="https://www.linkedin.com/company/top-bantz/">
                                <i class="fa fa-fw fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Top Bantz 2017
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top d-lg-none">
    <a class="btn btn-primary page-scroll" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">TMTP Rules &amp; Regulations</h4>
            </div>
            <div class="modal-body">
                <p style="color: black"><b>Disciplinary Actions</b><br />
                    -If an offence is committed a Yellow or Red Card will be issued.  The Rules are displayed below:<br />
                    <b>Yellow Card Offences</b><br />
                    A Yellow Card is held for a maximum of 7 days.<br />
                    - If however a second yellow card is issued for an offence within the 7 days, then an instant 1 match day ban will occur.  Examples of offences which could incur a yellow card are:
                    - The bigger it gets the harder it gets to keep up with the other pundits VN so we would like with the utmost respect if you could keep your voice notes to the maximum of 1min
                    <br />
                    <b>Red Card Offences</b><br />
                    1.  All TMTP’s members are treated as equals. If any pundit sends disrespectful banter (using the ‘N’ word, re*** and p*** etc. or any racial comment to other pundits) this is classed as a Red Card offence.
                    <br />
                    - If you write a negative message like racism even with different spellings and you are reported to the boardroom, you will get an instant red card explaining what you have done and showing evidence.<br />
                    - We do not tolerate any sort of racism because we have different races, religions and cultures on the TMTP'S.
                    <br />
                    2. We do not tolerate the following:
                    <br />
                    a) Sexual content<br />
                    b) Images of killing<br />
                    c) Pornography or nudity.<br />

                    TMTP'S is a sports pundits group we don't want to promote any forms of violence, we like to keep sports related banter and positive messages, as the aim is to keep our pundits happy at all times.<br />
                    3. If a pundit becomes abusive to a fellow pundit(s) &amp; this argument targets family member or personal life will result in a lifetime ban from the TMTP’s group.<br />
                    - We do not mind pundits having a good old banter with a next pundit but we do not tolerate pundits being disrespectful about another pundit’s family member. This is one of TMTP important rules respect the other TMTP’s at all times.  Failure to adhere to the rules will also result in a lifetime ban.<br />

                    If any cards are to be issued from the boardroom it could be a yellow or a red card.  The decision is based on a majority vote.<br />
                    When someone has broken a rule, the Boardroom has 5 working days to respond to the person who has caused the offence or broken the rule.<br />
                    The pundit who causes the offence or broke the rule has the right to appeal against the decision.  The appeal must be 3 days from when the card has been issued.  Evidence must be provided to support the appeal<br />
                    The Board will not accept any grey areas within the Rules &amp; Regulations. If something happens that is not part of the Rules and Regulations i.e. a grey area, the boardroom has all rights to analyse the evidence and get back to the pundits within 24 hours to give their verdict.  Our aim is to make sure we respect all pundits at all times so TMTP's can be enjoyable for everyone<br />

                    <b>Confidentiality</b><br />
                    If a pundit(s) not happy with a situation and would like to talk privately. Please feel free to contact a Member of the Board by email. Your name will remain anonymous about the topic of what you have heard or seen and the Board will address the pundit(s) in regards to the matter.  Your right to remain anonymous will be upheld.<br />

                    <b>Appeals</b><br />
                    If you wish to appeal against a decision you have 4 days from the day you have received your punishment to do so.<br />
                    The Board Members may consider your appeal.  Once you have made make your appeal, we will get back to you within 2 days. If your appeal is unsuccessful and the Board thinks that you do not have a good enough reason then you may be liable for an extra day on a 3 day match ban.<br />
                    I would like to take this time to thank all our members for their support and we the Board hope you have an enjoyable experience and thanks for helping us move forward.<br />

                    <b>Thank you</b>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">TMTP FAQ</h4>
            </div>
            <div class="modal-body">

                <h3>APP</h3>

                <p>“I cannot create a new account”</p>
                <p>&bull; Fill out all the necessary fields in the text boxes</p>
                <p>&bull; Ensure that username is between 6 to 32 characters long</p>
                <p>&bull; Email follows general @email.com format</p>
                <p>&bull; User remembers their username is case sensitive</p>
                <br /><br />
                <p>“I cannot Login”</p>
                <p>&bull; Check if you have inputted your username correctly (upper case letters haven’t been used where lower-case letters were inputted)</p>
                <p>&bull; Ask an admin If you been banned or not</p>
                <br /><br />
                <p>“I cannot see my stadium, kits or any other objects”</p>
                <p>&bull; Enable browser cookies from browser settings</p>
                <p>&bull; Enable flash from browser settings</p>
                <br /><br />
                <p>“People cannot hear me when I go onto the Lobbies”</p>
                <p>&bull; Check if you are using a microphone and it is plugged in and connected</p>
                <p>&bull; “enable” webapp to record voice</p>/
                <p>&bull; “enable webapp to record video</p>
                <p>&bull; Open Discord and make sure you haven’t set their microphone to mute</p>
                <p>&bull; Make sure you are actually in a lobby, if you are; your name will appear in the lobby</p>
                <br /><br />
                <p>“I cannot upload any photos onto the Lobbies”</p>
                <p>&bull; Make sure you “Allow” for Discord to access the user’s gallery</p>
                <p>&bull; Make sure you haven’t already posted the same image</p>
                <p>&bull; Make sure you have a stable internet connection</p>
                <br /><br />
                <p>“I posted a video but it doesn’t appear”</p>
                <p>&bull; Make sure the video came from YouTube</p>
                <p>&bull; Make sure it follows the link type: www.youtube.com/[video ID]</p>
                <br /><br />
                <p>“Where do I find my VIP lobby”</p>
                <p>&bull; Go to your home page and access the VIP lobby from the box to the left-hand side.</p>
                <br /><br />
                <p>“How do I see my stadium better?”</p>
                <p>&bull; Use your mouse and up, down, left, right keys on their keypad to navigate around the stadium</p>
                <br /><br />
                <h3>Discord</h3>
                <p>Personal message a user from the General Banter 1 / 2 or 3 lobbies</p>
                <p>&bull; Left Click on user’s profile photo or name until an information box comes up</p>
                <p>&bull; Write personal message in the box</p>
                <p>&bull; Press Enter to send</p>
                <br /><br />
                <p>See what users are online on the lobby at the time</p>
                <p>&bull; Check right hand side column to see all users who are either online or offline</p>
                <br /><br />
                <p>How to switch between voice banter lobbies</p>
                <p>&bull; Know which lobby you are in by observing your name under the lobby’s name</p>
                <p>&bull; Click on whichever lobby you want to go on by selecting it with your mouse</p>
                <br /><br />
                <p>How to create a new private channel</p>
                <p>&bull; Press the + icon on the let hand side of the screen on the navbar</p>
                <p>&bull; Adjust the settings and the server is created</p>
                <br /><br />
                <p>How to start a video call with people (9 people max)</p>
                <p>&bull; Press the “Friends” Icon on the top left-hand corner of the screen</p>
                <p>&bull; Click “All” to see all friends</p>
                <p>&bull; Hover over a friend’s name until it turns grey</p>
                <p>&bull; Press the video call option</p>
                <p>&bull; To add up to 8 more friends onto the call, press this button and add friends by their username</p>
                <br /><br />
                <p>Invite friends who are not on Discord</p>
                <p>&bull; Click on the bottom pointing arrow to bring up the lobby settings</p>
                <p>&bull; Click on “Invite People”, copy the link and send to friends</p>
                <br /><br />
                <p>How to access your User settings</p>
                <p>&bull; Click on this gear icon on the bottom left hand side of the screen</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script src="../static/vendor/popper/popper.min.js" th:src="@{/vendor/popper/popper.min.js}"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Contact Form JavaScript -->
<script src="../static/js/jqBootstrapValidation.js" th:src="@{/js/jqBootstrapValidation.js}"></script>
<script src="../static/js/contact_me.js" th:src="@{/js/contact_me.js}"></script>

<!-- Custom scripts for this template -->
<script src="../static/js/freelancer.min.js" th:src="@{/js/freelancer.min.js}"></script>

<!--<script type="text/javascript">-->
    <!--var images = ['1.jpg', '2.jpg', '3.jpg', '4.jpg', '5.jpg', '6.jpg', '7.jpg', '8.jpg', '9.jpg', '10.jpg'];    $('body').css({'background-image': 'url(/img/background/' + images[Math.floor(Math.random() * images.length)] + ')'});-->
<!--</script>-->

</body>

</html>
