<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Top Bantz</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Custom fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

    <!-- Custom styles -->
    <link href="../static/css/freelancer.min.css" th:href="@{/css/freelancer.min.css}" rel="stylesheet" />
    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <script async="true" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9674699695564602",
            enable_page_level_ads: true
        });
    </script>

</head>

<body class="index" id="page-top" th:background="@{/img/background/grass.png}" style="background-repeat: repeat">

<!-- Navigation -->
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="justify-content-center" style="margin-top: 12%"><center>
    <!-- Banner Ads start here -->

    <div class="mobileNone">
        <a class="adBanner displayNone" id="desktopAdBanner1" href="https://www.amazon.co.uk/dp/B00UH2O6T2?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/d1.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner2" href="https://www.amazon.co.uk/gp/dmusic/promotions/PrimeMusic">
            <img th:src="@{/img/d2.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner3" href="https://www.amazon.co.uk/dp/B00IOY524S?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/d3.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner4" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=7165873031">
            <img th:src="@{/img/d4.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner5" href="https://www.amazon.co.uk/gp/video/offers/ref=atv_pv_new_offer?ie=UTF8&amp;linkCode=ur1&amp;tag=topbantz2018-21">
            <img th:src="@{/img/d5.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner6" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=340837031">
            <img th:src="@{/img/d6.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner7" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=560798">
            <img th:src="@{/img/d7.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner8" href="https://www.amazon.co.uk/l/283926?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/d8.jpg}" /></a>
    </div>

    <div class="desktopNone">
        <a class="adBanner displayNone" id="mobileAdBanner1" href="https://www.amazon.co.uk/gp/dmusic/promotions/AmazonMusicUnlimited?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m1.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner2" href="https://www.amazon.co.uk/?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m2.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner3" href="https://www.amazon.co.uk/gp/dmusic/promotions/PrimeMusic">
            <img th:src="@{/img/m3.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner4" href="https://www.amazon.co.uk/dp/B00OPA2XFG?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m4.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner5" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=686204031">
            <img th:src="@{/img/m5.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner6" href="https://www.amazon.co.uk/dp/B00UH2O6T2?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m6.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner7" href="https://www.amazon.co.uk/dp/B01ETRIFOW?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m7.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner8" href="https://www.amazon.co.uk/dp/B00IOY524S?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m8.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner9" href="https://www.amazon.co.uk/dp/B010EK1GOE?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m9.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner10" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=468292&amp;lo=toys">
            <img th:src="@{/img/m10.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner11" href="https://www.amazon.co.uk/gp/video/primesignup/?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m11.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner12" href="https://www.amazon.co.uk/gp/student/signup/info?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m12.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner13" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=300703">
            <img th:src="@{/img/m13.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner14" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=229816">
            <img th:src="@{/img/m14.jpg}" />
        </a>
    </div>

    </center><!-- Banner Ads end here -->
</div>

<div style="margin-top: 2% !important;" class="container statsmenu">

    <div class="row">
        <div class="col-lg-3">
            <p align="left" style="color: #00DEB6; font-size: 26px;">Overview</p>
        </div>

        <div class="col-lg-3">
            <p align="center" class="pointBox"><i class="fa fa-square" style="color: #00ff00" aria-hidden="true"></i>
                <span th:text="${greenPoints + ' Green Points'}"></span></p>
        </div>

        <div class="col-lg-3">
            <p align="center" class="pointBox"><i class="fa fa-square" style="color: #ffff00" aria-hidden="true"></i>
                <span th:text="${yellowPoints + ' Yellow Cards'}"></span></p>
        </div>

        <div class="col-lg-3">
            <p align="center" class="pointBox"><i class="fa fa-square" style="color: #ff0000" aria-hidden="true"></i>
                <span th:text="${redPoints + ' Red Cards'}"></span></p>
        </div>
    </div>

    <div class="row">
        <div class="errorField2" th:if="${error}">
            <center>
                <p th:text="${errorMessage}" style="vertical-align: center;">This is an error message that spans on
                    multiple lines to see if design is screwed!</p>
            </center>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 3%;">
    <div class="row">
        <div class="col-lg-3 mobileNone">
            <script src="http://www.btfscores.com/widgets/widget-side.min.js" th:async="true"></script>
            <div id="sidebar-soccer-goal" style="width:250px;"></div>
        </div>

        <div class="col-lg-6 col-xs-12 scrollabelcolumn">

            <div class="videocard" th:classappend="${post.isFlagged() and user.getAdmin()} ? videocardflag : nothing">
                <div class="row" style="margin-left: 5%; margin-top:3%">
                    <div class="col-sm-5">
                        <p align="left" style="color: black"><img th:src="@{'/getFiles/' + ${post.getUser().getUsername()} + '.jpg'}" width="50px" height="50px" />  <a th:href="@{'/profile/' + ${post.getCreator()}}"><span th:text="${post.getUser().getFirstName()} + ' ' + ${post.getUser().getLastName()}"></span></a></p>
                    </div>
                    <div class="col-sm-7">
                        <a th:if="${not user.getAdmin() and not post.isFlagged()}" style="background-color: #cc3b3e !important; float:right; margin-right: 2%" class="btn btn-danger" th:href="@{'/post/' + ${post.getId()} + '/flag'}">
                            <i class="fa fa-flag" aria-hidden="true"></i>
                            Flag
                        </a>
                        <a th:if="${user.getAdmin() and post.isFlagged()}" style="background-color: #cc3b3e !important; float:right; margin-right: 2%" class="btn btn-danger" th:href="@{'/post/' + ${post.getId()} + '/flag'}">
                            <i class="fa fa-flag" aria-hidden="true"></i>
                            Unflag
                        </a>
                    </div>

                </div>

                <div class="row" style="margin-left: 5%;">
                    <p align="left" style="color: black;" th:text="${post.getDescription()}"></p>
                </div>

                <div class="row" style="margin-left: 5%;">
                    <p align="left" th:if="${user.getAdmin()}"><a th:href="@{'/post/' + ${post.getId()} + '/delete/'}"><i class="fa fa-times" aria-hidden="true"></i> Delete</a></p>
                </div>

                <div class="row" th:if="${post.getVideo()}" style="margin-top:3%">
                    <div style="align-content:center;height:0;margin-bottom:73%">
                        <iframe th:src="${post.getLink()}" width="480" height="360" frameborder="0" style="position:absolute;width:80%;left:10%"></iframe>
                    </div>
                </div>

                <div class="row buttonRow">
                    <div class="col-xs-3">
                        <a class="btn btn-success" th:href="'javascript:likeButton(\'' + ${post.getId()} + '\')'" th:id="${'like' + post.getId()}">
                            <!--th:href="@{'/like/' + ${post.getId()}}"-->
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <span th:if="${!post.getLikeUsers().contains(user.getUsername())}" th:text="${'Like - ' + post.getLikes() + ' likes'}"></span>
                            <span th:if="${post.getLikeUsers().contains(user.getUsername())}" th:text="${'Liked - ' + post.getLikes() + ' likes'}"></span>
                        </a>
                    </div>
                    <div class="col-xs-1">
                        &nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="col-xs-3">
                        <a style="text-decoration:none !important" class="btn btn-danger" th:href="'javascript:dislikeButton(\'' + ${post.getId()} + '\')'" th:id="${'dislike' + post.getId()}">
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                            <span th:if="${!post.getDislikeUsers().contains(user.getUsername())}" th:text="${'Dislike - ' + post.getDislikes() + ' dislikes'}"></span>
                            <span th:if="${post.getDislikeUsers().contains(user.getUsername())}" th:text="${'Disliked - ' + post.getDislikes() + ' dislikes'}"></span>
                        </a>
                    </div>
                </div>

                <hr style="background-color: #2C3E50; height: 4px;" />

                <div class="row">
                    <form style="width: 90% !important; margin-top: 1%; margin-bottom: 1%; margin-left: 5%" th:object="${commentForm}" th:action="@{'/newComment/' + ${id}}" method="POST">
                        <textarea th:field="*{comment}" class="form-control" id="description" style="width:100%; height: 80px;" placeholder="Comment"></textarea>
                        <button style="margin-top: 2%;" class="btn btn-success">Submit</button>
                    </form>
                </div>

                <div th:if="${not #lists.isEmpty(post.getComments())}">
                    <hr style="background-color: #2C3E50; height: 4px;" />
                    <div th:each="comment : ${comments}" class="row" style="margin-left: 1%; margin-top:1%; margin-bottom: 2%;">
                        <div class="col-md-1">
                            <img th:src="@{'/getFiles/' + ${comment.getUser().getUsername()} + '.jpg'}" width="50px" height="50px" />
                        </div>
                        <div class="col-md-11">
                            <p align="left" style="margin-left: 3%; color: black"><a th:href="@{'/profile/' + ${comment.getUser().getUsername()}}"><span th:text="${comment.getUser().getFirstName()} + ' ' + ${comment.getUser().getLastName()}"></span></a><span th:text="' ' + ${comment.getComment()}"></span></p>
                            <p align="left" style="margin-left: 3%; margin-top: -10px; color: black; font-size:15px;"><span th:text="${comment.getDate()}"></span></p><br />
                            <p align="left" style="margin-left: 3%; color: black; font-size:15px;" th:if="${user.getAdmin()}"><a th:href="@{'/post/' + ${post.getId()} + '/' + ${comment.getId()} + '/delete/'}"><i class="fa fa-times" aria-hidden="true"></i> Delete comment</a></p>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-3 mobileNone">
            <div class="row">
                <iframe width="300" height="350" src="http://www.football.co.uk/widget/premier-league/" frameborder="0" scrolling="no"></iframe>
            </div>

            <br/>

        </div>
    </div>

</div>

<br/><br/>
<div class="justify-content-center"><center>
    <!-- Banner Ads start here -->

    <div class="mobileNone">
        <a class="adBanner displayNone" id="desktopAdBanner1_down" href="https://www.amazon.co.uk/dp/B00UH2O6T2?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/d1.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner2_down" href="https://www.amazon.co.uk/gp/dmusic/promotions/PrimeMusic">
            <img th:src="@{/img/d2.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner3_down" href="https://www.amazon.co.uk/dp/B00IOY524S?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/d3.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner4_down" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=7165873031">
            <img th:src="@{/img/d4.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner5_down" href="https://www.amazon.co.uk/gp/video/offers/ref=atv_pv_new_offer?ie=UTF8&amp;linkCode=ur1&amp;tag=topbantz2018-21">
            <img th:src="@{/img/d5.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner6_down" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=340837031">
            <img th:src="@{/img/d6.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner7_down" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=560798">
            <img th:src="@{/img/d7.jpg}" /></a>
        <a class="adBanner displayNone" id="desktopAdBanner8_down" href="https://www.amazon.co.uk/l/283926?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/d8.jpg}" /></a>
    </div>

    <div class="desktopNone">
        <a class="adBanner displayNone" id="mobileAdBanner1_down" href="https://www.amazon.co.uk/gp/dmusic/promotions/AmazonMusicUnlimited?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m1.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner2_down" href="https://www.amazon.co.uk/?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m2.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner3_down" href="https://www.amazon.co.uk/gp/dmusic/promotions/PrimeMusic">
            <img th:src="@{/img/m3.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner4_down" href="https://www.amazon.co.uk/dp/B00OPA2XFG?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m4.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner5_down" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=686204031">
            <img th:src="@{/img/m5.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner6_down" href="https://www.amazon.co.uk/dp/B00UH2O6T2?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m6.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner7_down" href="https://www.amazon.co.uk/dp/B01ETRIFOW?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m7.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner8_down" href="https://www.amazon.co.uk/dp/B00IOY524S?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m8.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner9_down" href="https://www.amazon.co.uk/dp/B010EK1GOE?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m9.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner10_down" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=468292&amp;lo=toys">
            <img th:src="@{/img/m10.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner11_down" href="https://www.amazon.co.uk/gp/video/primesignup/?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m11.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner12_down" href="https://www.amazon.co.uk/gp/student/signup/info?tag=topbantz2018-21&amp;linkCode=ur1">
            <img th:src="@{/img/m12.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner13_down" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=300703">
            <img th:src="@{/img/m13.jpg}" />
        </a>
        <a class="adBanner displayNone" id="mobileAdBanner14_down" href="https://www.amazon.co.uk/b?tag=topbantz2018-21&amp;linkCode=ur1&amp;node=229816">
            <img th:src="@{/img/m14.jpg}" />
        </a>
    </div>


    </center><!-- Banner Ads end here -->
</div>

<!-- Footer -->
<footer class="text-center" style="margin-top: 10%;">
    <div class="footer-above">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h3>Social Media</h3>
                    <ul class="list-inline">

                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="https://plus.google.com/u/0/105657970600756533313">
                                <i class="fa fa-fw fa-google-plus"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="https://twitter.com/topbantz_app">
                                <i class="fa fa-fw fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="https://www.facebook.com/topbantzapp/">
                                <i class="fa fa-fw fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="https://www.linkedin.com/company/top-bantz/">
                                <i class="fa fa-fw fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="mailto:topbantzcontact@gmail.com" target="_top">
                                <i class="fa fa-fw fa-envelope"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Top Bantz 2017
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    Top Bantz Does Not Tolerate Any Form of Racism or Discrimination
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    Visit Top Bantz on desktop for the full experience
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top d-lg-none">
    <a class="btn btn-primary page-scroll" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Modal -->
<div th:replace="fragments/infomodal :: infomodal"></div>


<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script src="../static/vendor/popper/popper.min.js" th:src="@{/vendor/popper/popper.min.js}"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Contact Form JavaScript -->
<script src="../static/js/jqBootstrapValidation.js" th:src="@{/js/jqBootstrapValidation.js}"></script>
<script src="../static/js/contact_me.js" th:src="@{/js/contact_me.js}"></script>

<!-- Custom scripts for this template -->
<script src="../static/js/freelancer.min.js" th:src="@{/js/freelancer.min.js}"></script>
<script src="../static/js/login.js" th:src="@{/js/login.js}"></script>

<!--<script type="text/javascript">-->
    <!--var images = ['1.jpg', '2.jpg', '3.jpg', '4.jpg', '5.jpg', '6.jpg', '7.jpg', '8.jpg', '9.jpg', '10.jpg'];    $('body').css({'background-image': 'url(/img/background/' + images[Math.floor(Math.random() * images.length)] + ')'});-->
<!--</script>-->

<script th:inline="javascript">
    function likeButton(id){
        $.ajax({
            url: '/like/' + id,
            success: function(data){
                var str = $("#like" + id + " > span").text();
                if(str.charAt(4) == 'd'){
                    $("#like" + id + " > span").text("Like - " + data[0] + " likes");
                }
                else{
                    $("#like" + id + " > span").text("Liked - " + data[0] + " likes");
                    $("#dislike" + id + " > span").text("Dislike - " + data[1] + " dislikes");
                }
            }
        })
    }

    function dislikeButton(id){
        $.ajax({
            url: '/dislike/' + id,
            success: function(data){
                var str = $("#dislike" + id + " > span").text();
                if(str.charAt(7) == 'd'){
                    $("#dislike" + id + " > span").text("Dislike - " + data[1] + " dislikes");
                }
                else{
                    $("#dislike" + id + " > span").text("Disliked - " + data[1] + " dislikes");
                    $("#like" + id + " > span").text("Like - " + data[0] + " likes");
                }
            }
        })
    }

</script>

<script>
    $('.adBanner').hide();
    var randNoMobile = -1;
    var randNoDesktop = -1;
    var randNoMobile_down = -1;
    var randNoDesktop_down = -1;

    $(document).ready(function () {
        randNoMobile = Math.floor((Math.random() * 14) + 1);
        randNoDesktop = Math.floor((Math.random() * 8) + 1);
        randNoMobile_down = Math.floor((Math.random() * 14) + 1);
        randNoDesktop_down = Math.floor((Math.random() * 8) + 1);

        var startWidth = $(window).width();
        if (Math.min(startWidth, 800) !== 800) {
            $('#mobileAdBanner' + randNoMobile).show();
            $('#mobileAdBanner' + randNoMobile_down + "_down").show();
            $('.top-ads-container').css('marginTop', '15%');
        } else {
            $('#desktopAdBanner' + randNoDesktop).show();
            $('#desktopAdBanner' + randNoDesktop_down + "_down").show();
            $('.top-ads-container').css('marginTop', '10%');
        }
    });

    $(window).resize(function () {
        if (randNoMobile == -1) {
            randNoMobile = Math.floor((Math.random() * 14) + 1);
        }
        if (randNoDesktop == -1) {
            randNoDesktop = Math.floor((Math.random() * 8) + 1);
        }
        if (randNoMobile_down == -1) {
            randNoMobile_down = Math.floor((Math.random() * 14) + 1);
        }
        if (randNoDesktop_down == -1) {
            randNoDesktop_down = Math.floor((Math.random() * 8) + 1);
        }
        $('.adBanner').hide();
        var startWidth = $(window).width();
        if (Math.min(startWidth, 800) !== 800) {
            $('#mobileAdBanner' + randNoMobile).show();
            $('#mobileAdBanner' + randNoMobile_down + "_down").show();
            $('.top-ads-container').css('marginTop', '15%');
        } else {
            $('#desktopAdBanner' + randNoDesktop).show();
            $('#desktopAdBanner' + randNoDesktop_down + "_down").show();
            $('.top-ads-container').css('marginTop', '10%');
        }
    });
</script>

</body>

</html>
