<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>TMTP</title>

      <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

      <!-- Custom fonts -->
      <link href="../static/vendor/font-awesome/css/font-awesome.min.css" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
      <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css' />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />

      <!-- Custom styles -->
      <link href="../static/css/freelancer.min.css" th:href="@{/css/freelancer.min.css}" rel="stylesheet" />
      <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet" />

      <link rel="stylesheet" href="../static/css/cards.css" th:href="@{/css/cards.css}" />

  </head>

  <body class="index" id="page-top" style="background-color: #CEFBFF">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <a class="navbar-brand" th:href="@{/home}">Top Bantz</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li th:if="${user.getAdmin()}" class="nav-item">
                    <a class="nav-link" th:href="@{/admin}">Admin Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/shop}"><i class="fa fa-shopping-cart" style="color: white" aria-hidden="true"></i> Merchandise</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/jobs}"><i class="fa fa-address-card" style="color: white" aria-hidden="true"></i> Ads/Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lobbies}"><i class="fa fa-futbol-o" style="color: white" aria-hidden="true"></i> Master Leagues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/profile/' + ${fname}}"><i class="fa fa-user" style="color: white" aria-hidden="true"></i> <span th:text="'Hi, ' + ${fname} + '!'"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#myModal"><i class="fa fa-book" style="color: white" aria-hidden="true"></i> Rules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}"><i class="fa fa-sign-out" style="color: white" aria-hidden="true"></i> Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" style="margin-top: 10%">
        <div class="row">    
            
            <div class="col-md-4 col-xs-12">

                <div class="row">
                    <div class="profileCard">
                        <center>
                            <img id="profileOverlay" th:src="@{'/getFiles/' + ${user.getUsername()} + '.jpg'}" width="60%" height="60%" />
                            <h2 style="margin-top:3%" th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}">Parik Panchal</h2>
                            <h3 th:text="${user.getTitle()}">The Man!</h3>

                            <div style="margin-top: 10%">
                                <div class="col-lg-12">
                                    <p align="center" class="pointBox"><i class="fa fa-square" style="color: #00ff00" aria-hidden="true"></i> <span th:text="${greenPoints}"></span></p>
                                </div>

                                <div class="col-lg-12">
                                    <p align="center" class="pointBox"><i class="fa fa-square" style="color: #ffff00" aria-hidden="true"></i> <span th:text="${yellowPoints}"></span></p>
                                </div>

                                <div class="col-lg-12">
                                    <p align="center" class="pointBox"><i class="fa fa-square" style="color: #ff0000" aria-hidden="true"></i> <span th:text="${redPoints}"></span></p>
                                </div>
                            </div>

                            <div style="margin-top: 10%" th:if="${settingsButton}">
                                <div class="col-lg-12">
                                   <a class="btn btn-success" th:href="@{'/settings/' + ${user.getUsername()}}">Personalize</a>
                                </div>
                            </div>

                        </center>
                    </div>
                </div>

                <div class="row">
                    <div class="profileCard" style="padding-left: 2%;">
                        <h1 style="color: black; margin-bottom: 8%; padding-left: 3%">My Player Kit</h1>
                        <div class="row">
                            <div class="col-sm-7" style="float:right">
                                <img th:src="@{'/img/kits/jackets/' + ${user.getPlayerKit().getJacket()} +'.png'}" width="90%" height="auto" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-7" style="float:right">
                                <img th:src="@{'/img/kits/shorts/' + ${user.getPlayerKit().getShorts()} +'.png'}" width="90%" height="auto" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-7" style="float:right">
                                <img th:src="@{'/img/kits/socks/' + ${user.getPlayerKit().getSocks()} +'.png'}" width="90%" height="auto" />
                            </div>
                            <div class="col-sm-5" style="float:left">
                                <br /><br /><br />
                                <img th:src="@{'/img/kits/footballs/' + ${user.getPlayerKit().getFootball()} +'.png'}" width="120px" height="120px"/>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-8 col-xs-12">
                <div class="stadiumCard">
                    <h1 style="color: black; margin-bottom: 5%; padding-left: 3%">My Stadium - Tier <span th:text="${user.getStadiumLevel()}"></span></h1>
                    <center>
                        <div class="errorStadium" th:if="${error}">
                            <center>
                                <p th:text="${errorMessage}" style="vertical-align: center;">This is an error message that spans on multiple lines to see if design is screwed!</p>
                            </center>
                        </div>

                        <!--<img th:src="@{'/img/stadiums/' + ${user.getStadiumLevel()} + '.jpg'}" width="80%" height="auto" />-->

                        <div th:if="${user.getStadiumLevel() == 1}" class="sketchfab-embed-wrapper">
                            <iframe width="640" height="480" src="https://sketchfab.com/models/9f2e540321bf47d893fed9a8ae78b29f/embed?preload=1" frameborder="0" allowvr="true" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
                            <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
                                <a href="https://sketchfab.com/models/9f2e540321bf47d893fed9a8ae78b29f?utm_medium=embed&amp;utm_source=website&amp;utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Football Pitch</a>
                                by <a href="https://sketchfab.com/leonlabyk?utm_medium=embed&amp;utm_source=website&amp;utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">dafunk</a>
                                on <a href="https://sketchfab.com?utm_medium=embed&amp;utm_source=website&amp;utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
                            </p>
                        </div>

                        <div th:if="${user.getStadiumLevel() == 2}" class="sketchfab-embed-wrapper">
                            <iframe width="640" height="480" src="https://sketchfab.com/models/9c4f91943a19414d956932ceefe9b0b7/embed?preload=1" frameborder="0" allowvr="true" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
                            <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
                                <a href="https://sketchfab.com/models/9c4f91943a19414d956932ceefe9b0b7?utm_medium=embed&amp;utm_source=website&amp;utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Football Stadium</a>
                                by <a href="https://sketchfab.com/leonlabyk?utm_medium=embed&amp;utm_source=website&amp;utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">dafunk</a>
                                on <a href="https://sketchfab.com?utm_medium=embed&amp;utm_source=website&amp;utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
                            </p>
                        </div>

                        <div th:if="${user.getStadiumLevel() == 3}" class="sketchfab-embed-wrapper">
                            <iframe width="640" height="480" src="https://sketchfab.com/models/f220069f47534232becbae2dc3a5123e/embed?preload=1" frameborder="0" allowvr="true" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
                            <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
                                <a href="https://sketchfab.com/models/f220069f47534232becbae2dc3a5123e?utm_medium=embed&amp;utm_source=website&amp;utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Stadium</a>
                                by <a href="https://sketchfab.com/leonlabyk?utm_medium=embed&amp;utm_source=website&amp;utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">dafunk</a>
                                on <a href="https://sketchfab.com?utm_medium=embed&amp;utm_source=website&amp;utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
                            </p>
                        </div>

                        <div th:if="${user.getStadiumLevel() == 4}" class="sketchfab-embed-wrapper">
                            <iframe width="640" height="480" src="https://sketchfab.com/models/8e16f25ee59e475bb947fbdf4d76fe74/embed" frameborder="0" allowvr="true" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
                            <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
                                <a href="https://sketchfab.com/models/8e16f25ee59e475bb947fbdf4d76fe74?utm_medium=embed&amp;utm_source=website&amp;utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Estádio Olímpico João Havelange</a>
                                by <a href="https://sketchfab.com/FilipMichalowski?utm_medium=embed&amp;utm_source=website&amp;utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">FilipMichalowski</a>
                                on <a href="https://sketchfab.com?utm_medium=embed&amp;utm_source=website&amp;utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
                            </p>
                        </div>

                        <div th:if="${user.getStadiumLevel() == 5}" class="sketchfab-embed-wrapper">
                            <iframe width="640" height="480" src="https://sketchfab.com/models/wJb81DIR82HrLuencN0qIXCUqRb/embed" frameborder="0" allowvr="true" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
                            <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
                                <a href="https://sketchfab.com/models/wJb81DIR82HrLuencN0qIXCUqRb?utm_medium=embed&amp;utm_source=website&amp;utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Stadium</a>
                                by <a href="https://sketchfab.com/JoseMiguelLopezVera?utm_medium=embed&amp;utm_source=website&amp;utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">joselopezmv</a>
                                on <a href="https://sketchfab.com?utm_medium=embed&amp;utm_source=website&amp;utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
                            </p>
                        </div>

                        <div th:if="${upgradeButton} and ${settingsButton}" style="margin-top: 4%">
                            <div th:if="${enoughPoints}">
                                <a th:href="@{'/profile/' + ${user.getUsername()} + '/stadiumUpgrade'}" class="btn btn-success"><span style="color:white" th:text="${buttonMessage}"></span></a>
                            </div>
                            <div th:if="${!enoughPoints}">
                                <a th:href="@{'/profile/' + ${user.getUsername()} + '/stadiumUpgrade'}" class="btn btn-success" style="background-color:#333 !important;"><span style="color:white" th:text="${buttonMessage}"></span></a>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
            
        </div>
    </div>


    <!-- Footer -->
    <footer class="text-center" style="margin-top: 10%;">
      <div class="footer-above">
        <div class="container">
          <div class="row">

            <div class="col-md-12">
              <h3>Social Media</h3>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-google-plus"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; TMTP 2017
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
      <a class="btn btn-primary page-scroll" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">TMTP Rules &amp; Regulations</h4>
                </div>
                <div class="modal-body">
                    <p style="color: black"><b>Disciplinary Actions</b><br />
                        -If an offence is committed a Yellow or Red Card will be issued.  The Rules are displayed below:<br />
                        <b>Yellow Card Offences</b><br />
                        A Yellow Card is held for a maximum of 7 days.<br />
                        - If however a second yellow card is issued for an offence within the 7 days, then an instant 1 match day ban will occur.  Examples of offences which could incur a yellow card are:
                        - The bigger it gets the harder it gets to keep up with the other pundits VN so we would like with the utmost respect if you could keep your voice notes to the maximum of 1min
                        <br />
                        <b>Red Card Offences</b><br />
                        1.  All TMTP’s members are treated as equals. If any pundit sends disrespectful banter (using the ‘N’ word, re*** and p*** etc. or any racial comment to other pundits) this is classed as a Red Card offence.
                        <br />
                        - If you write a negative message like racism even with different spellings and you are reported to the boardroom, you will get an instant red card explaining what you have done and showing evidence.<br />
                        - We do not tolerate any sort of racism because we have different races, religions and cultures on the TMTP'S.
                        <br />
                        2. We do not tolerate the following:
                        <br />
                        a) Sexual content<br />
                        b) Images of killing<br />
                        c) Pornography or nudity.<br />

                        TMTP'S is a sports pundits group we don't want to promote any forms of violence, we like to keep sports related banter and positive messages, as the aim is to keep our pundits happy at all times.<br />
                        3. If a pundit becomes abusive to a fellow pundit(s) &amp; this argument targets family member or personal life will result in a lifetime ban from the TMTP’s group.<br />
                        - We do not mind pundits having a good old banter with a next pundit but we do not tolerate pundits being disrespectful about another pundit’s family member. This is one of TMTP important rules respect the other TMTP’s at all times.  Failure to adhere to the rules will also result in a lifetime ban.<br />

                        If any cards are to be issued from the boardroom it could be a yellow or a red card.  The decision is based on a majority vote.<br />
                        When someone has broken a rule, the Boardroom has 5 working days to respond to the person who has caused the offence or broken the rule.<br />
                        The pundit who causes the offence or broke the rule has the right to appeal against the decision.  The appeal must be 3 days from when the card has been issued.  Evidence must be provided to support the appeal<br />
                        The Board will not accept any grey areas within the Rules &amp; Regulations. If something happens that is not part of the Rules and Regulations i.e. a grey area, the boardroom has all rights to analyse the evidence and get back to the pundits within 24 hours to give their verdict.  Our aim is to make sure we respect all pundits at all times so TMTP's can be enjoyable for everyone<br />
                        <b>£10 Fines</b><br />
                        If the Board have organised an event and a fellow pundit(s) does not wear their team shirt, an instant £10 fine will be charged.<br />
                        This can be given to any Board Member. The fine should be paid within 2 weeks or at the next road trip, as agreed by the Board Members (if however you have not got a team shirt, you must inform a member of the Board Member a week in advance.  Advice &amp; guidance will be provided).<br />
                        Failure to do so can result in your absence from attending the road trips.<br />
                        <b>Confidentiality</b><br />
                        If a pundit(s) not happy with a situation and would like to talk privately. Please feel free to contact a Member of the Board by email. Your name will remain anonymous about the topic of what you have heard or seen and the Board will address the pundit(s) in regards to the matter.  Your right to remain anonymous will be upheld.<br />

                        <b>Appeals</b><br />
                        If you wish to appeal against a decision you have 4 days from the day you have received your punishment to do so.<br />
                        The Board Members may consider your appeal.  Once you have made make your appeal, we will get back to you within 2 days. If your appeal is unsuccessful and the Board thinks that you do not have a good enough reason then you may be liable for an extra day on a 3 day match ban.<br />
                        I would like to take this time to thank all our members for their support and we the Board hope you have an enjoyable experience and thanks for helping us move forward.<br />

                        <b>Thank you</b>

                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src="../static/vendor/popper/popper.min.js" th:src="@{/vendor/popper/popper.min.js}"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js" th:src="@{/js/jqBootstrapValidation.js}"></script>
    <script src="../static/js/contact_me.js" th:src="@{/js/contact_me.js}"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/freelancer.min.js" th:src="@{/js/freelancer.min.js}"></script>

    <!--<script type="text/javascript">-->
        <!--var images = ['1.jpg', '2.jpg', '3.jpg', '4.jpg', '5.jpg', '6.jpg', '7.jpg', '8.jpg', '9.jpg', '10.jpg'];        $('body').css({'background-image': 'url(/img/background/' + images[Math.floor(Math.random() * images.length)] + ')'});-->
    <!--</script>-->

    <!--Watermark library-->
    <script src="../static/js/jquery.watermark.min.js" th:src="@{/js/jquery.watermark.min.js}"></script>

    <script th:inline="javascript">
        var url = '/img/overlays/'+ [[${user.getOverlay()}]] + '.png';
        $(function() {
            $('#profileOverlay').watermark({
                path: url,
                gravity: 's'
            });
        });
    </script>

  </body>

</html>
