<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>TMTP</title>

      <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

      <!-- Custom fonts -->
      <link href="../static/vendor/font-awesome/css/font-awesome.min.css" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
      <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css' />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />

      <!-- Custom styles -->
      <link href="../static/css/freelancer.min.css" th:href="@{/css/freelancer.min.css}" rel="stylesheet" />
      <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet" />

      <link rel="stylesheet" href="../static/css/cards.css" th:href="@{/css/cards.css}" />

  </head>

  <body class="index" id="page-top" style="background-repeat: repeat-y;">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <a class="navbar-brand" th:href="@{/home}">TMTP</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

              <li class="nav-item">
                  <a class="nav-link" th:href="@{/shop}">Store</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" th:href="@{/scores}">Live Scores</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="https://discord.gg/rbugQUr">Chat</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" th:href="@{'/profile/' + ${username}}"><span th:text="'Hi, ' + ${loggedfname} + '!'"></span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" th:href="@{/logout}">Logout</a>
              </li>
          </ul>
      </div>
      </nav>

    <div class="container" style="margin-top: 10%">
        <div class="row">    
            
            <div class="col-md-4 col-xs-12">

                <div class="row">
                    <div class="profileCard">
                        <center>
                            <img id="profileOverlay" th:src="@{'/getFiles/' + ${user.getUsername()} + '.jpg'}" width="60%" height="60%" />
                            <h2 style="margin-top:3%" th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}">Parik Panchal</h2>
                            <h3>The Man!</h3>

                            <div style="margin-top: 10%">
                                <div class="col-lg-12">
                                    <p align="center" class="pointBox"><i class="fa fa-circle" style="color: #00ff00" aria-hidden="true"></i> <span th:text="${greenPoints}"></span></p>
                                </div>

                                <div class="col-lg-12">
                                    <p align="center" class="pointBox"><i class="fa fa-circle" style="color: #ffff00" aria-hidden="true"></i> <span th:text="${yellowPoints}"></span></p>
                                </div>

                                <div class="col-lg-12">
                                    <p align="center" class="pointBox"><i class="fa fa-circle" style="color: #ff0000" aria-hidden="true"></i> <span th:text="${redPoints}"></span></p>
                                </div>
                            </div>

                            <div style="margin-top: 10%" th:if="${settingsButton}">
                                <div class="col-lg-12">
                                   <a class="btn btn-success" th:href="@{'/settings/' + ${user.getUsername()}}">My settings</a>
                                </div>
                            </div>

                        </center>
                    </div>
                </div>

                <div class="row">
                    <div class="profileCard" style="padding-left: 2%;">
                        <h1 style="color: black; margin-bottom: 8%; padding-left: 3%">My Player Kit</h1>
                        <div class="row">
                            <div class="col-sm-7" style="float:right">
                                <img th:src="@{'/img/kits/jackets/' + ${user.getPlayerKit().getJacket()} +'.png'}" width="90%" height="auto" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-7" style="float:right">
                                <img th:src="@{'/img/kits/shorts/' + ${user.getPlayerKit().getShorts()} +'.png'}" width="90%" height="auto" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-7" style="float:right">
                                <img th:src="@{'/img/kits/socks/' + ${user.getPlayerKit().getSocks()} +'.png'}" width="90%" height="auto" />
                            </div>
                            <div class="col-sm-5" style="float:left">
                                <br /><br /><br />
                                <img th:src="@{'/img/kits/footballs/' + ${user.getPlayerKit().getFootball()} +'.png'}" width="120px" height="120px"/>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-8 col-xs-12">
                <div class="stadiumCard">
                    <h1 style="color: black; margin-bottom: 5%; padding-left: 3%">My Stadium</h1>
                    <center>
                        <img th:src="@{/img/stadium.jpg}" width="80%" height="auto" />
                    </center>
                </div>
            </div>
            
        </div>
    </div>


    <!-- Footer -->
    <footer class="text-center" style="margin-top: 10%;">
      <div class="footer-above">
        <div class="container">
          <div class="row">

            <div class="col-md-12">
              <h3>Social Media</h3>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-google-plus"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; TMTP 2017
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
      <a class="btn btn-primary page-scroll" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src="../static/vendor/popper/popper.min.js" th:src="@{/vendor/popper/popper.min.js}"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js" th:src="@{/js/jqBootstrapValidation.js}"></script>
    <script src="../static/js/contact_me.js" th:src="@{/js/contact_me.js}"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/freelancer.min.js" th:src="@{/js/freelancer.min.js}"></script>

    <script type="text/javascript">
        var images = ['1.jpg', '2.jpg', '3.jpg', '4.jpg', '5.jpg', '6.jpg', '7.jpg', '8.jpg', '9.jpg', '10.jpg', '11.jpg', '12.jpg', '13.jpg',  '14.jpg', '15.jpg', '16.jpg', '17.jpg', '18.jpg', '19.jpg', '20.jpg', '21.jpg',];
        $('body').css({'background-image': 'url(/img/background/' + images[Math.floor(Math.random() * images.length)] + ')'});
    </script>

    <!--Watermark library-->
    <script src="../static/js/jquery.watermark.min.js" th:src="@{/js/jquery.watermark.min.js}"></script>

    <script th:inline="javascript">
        var url = '/img/overlays/'+ [[${user.getOverlay()}]] + '.png';
        $(function() {
            $('#profileOverlay').watermark({
                path: url,
                gravity: 's'
            });
        });
    </script>

  </body>

</html>
