<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Top Bantz</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Custom fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

    <!-- Custom styles -->
    <link href="../static/css/freelancer.min.css" th:href="@{/css/freelancer.min.css}" rel="stylesheet" />
    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.js"></script>

    <script async="true" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9674699695564602",
            enable_page_level_ads: true
        });
    </script>

</head>

<body class="index" id="page-top"  th:background="@{/img/background/grass.png}" style="background-repeat: repeat">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <a class="navbar-brand" th:href="@{/home}">Top Bantz</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

            <li th:if="${user.getAdmin()}" class="nav-item">
                <a class="nav-link" th:href="@{/admin}">Admin</a>
            </li>
            <li class="nav-item" th:if="${not user.getBanned()}">
                <a class="nav-link" th:href="@{/shop}"><i class="fa fa-shopping-cart" style="color: white" aria-hidden="true"></i> Store</a>
            </li>
            <li class="nav-item" th:if="${not user.getBanned()}">
                <a class="nav-link" th:href="@{/lobbies/league}"><i class="fa fa-futbol-o" style="color: white" aria-hidden="true"></i> Top Leagues</a>
            </li>
            <li class="nav-item" th:if="${not user.getBanned()}">
                <a class="nav-link" th:href="@{/lobbies/club}"><i class="fa fa-futbol-o" style="color: white" aria-hidden="true"></i> Club Lobbies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.gofundme.com/topbantz"><i class="fa fa-usd" style="color: white" aria-hidden="true"></i> Donate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.youtube.com/user/topmentruepundits"><i class="fa fa-bullhorn" style="color: white" aria-hidden="true"></i> Bantz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/scores'}"><i class="fa fa-gamepad" style="color: white" aria-hidden="true"></i> News/Scores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" style="cursor: pointer" data-target="#myModal"><i class="fa fa-question" style="color: white" aria-hidden="true"></i> Info</a>
            </li>
            <li class="nav-item" th:if="${not user.getBanned()}">
                <a class="nav-link" th:href="@{/jobs}"><i class="fa fa-address-card" style="color: white" aria-hidden="true"></i> Ads/Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/profile/' + ${username}}"><i class="fa fa-user" style="color: white" aria-hidden="true"></i> <span th:text="'Hi, ' + ${username} + '!'"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}"><i class="fa fa-sign-out" style="color: white" aria-hidden="true"></i> Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container top-ads-container mobileNone" style="margin-top: 10%;">
    <div class="justify-content-center row">
        <!-- Banner Ads start here -->

        <!-- Mobile banner ads -->
        <iframe class="adBanner" id="mobileAdBanner1"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=42&amp;l=ur1&amp;category=pcvideogames&amp;banner=15ZT0Y0XGWWEASSYT402&amp;f=ifr&amp;linkID=c041847958d8356f0c8e287e459273dc&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
                width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
                frameborder="0"></iframe>

        <iframe class="adBanner" id="mobileAdBanner2"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=42&amp;l=ur1&amp;category=amazon_music_bounty&amp;banner=1E73VWE3S59WFW5AA9G2&amp;f=ifr&amp;linkID=d022fc1a22dff96dcae7dbe0d1afede5&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
                width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
                frameborder="0"></iframe>

        <iframe class="adBanner" id="mobileAdBanner3"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=42&amp;l=ur1&amp;category=audible&amp;banner=1FE6S5JTMYJV58CZX3R2&amp;f=ifr&amp;linkID=2e30863ba10d2321e0a4c7931147efc8&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
                width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
                frameborder="0"></iframe>

        <iframe class="adBanner" id="mobileAdBanner4"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=42&amp;l=ur1&amp;category=primemusic&amp;banner=1DFRJ7WZMYZ7X10EE582&amp;f=ifr&amp;linkID=710c73396d304bf3c5d5db2dd461fcb4&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
                width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
                frameborder="0"></iframe>

        <iframe class="adBanner" id="mobileAdBanner5"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=42&amp;l=ur1&amp;category=fire_tv&amp;banner=1CHK3TDHWTK119GPDX02&amp;f=ifr&amp;linkID=2e48e6c0a46bff14677c2679195fe394&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
                width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
                frameborder="0"></iframe>

        <iframe class="adBanner" id="mobileAdBanner6"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=42&amp;l=ur1&amp;category=fire_tablets&amp;banner=0SDWAAG80N17ZG67NP82&amp;f=ifr&amp;linkID=2f9fab30853591d4981e1772faf3cac6&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
                width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
                frameborder="0"></iframe>

        <iframe class="adBanner" id="mobileAdBanner7"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=42&amp;l=ur1&amp;category=madeinitaly_uk&amp;banner=1YWRPGP922YKGSXCFWR2&amp;f=ifr&amp;linkID=6bed9a857f4ea45bc8f6ca3dedc3e6f8&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
                width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
                frameborder="0"></iframe>

        <iframe class="adBanner" id="mobileAdBanner8"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=42&amp;l=ur1&amp;category=endless&amp;banner=0FE5FXZ1XS963HCPPW82&amp;f=ifr&amp;linkID=24dae83e98f2cf1f91d0920a1ffc9091&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
                width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
                frameborder="0"></iframe>

        <iframe class="adBanner" id="mobileAdBanner9"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=42&amp;l=ur1&amp;category=amazon_student&amp;banner=0J4KQS4Z1HXSVRFFT382&amp;f=ifr&amp;linkID=1f3bd0411ec13e8ad0b2c540f579e232&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
                width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
                frameborder="0"></iframe>

        <!-- Desktop banner ads -->
        <iframe class="adBanner" id="desktopAdBanner1"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=48&amp;l=ur1&amp;category=consumerelectronics&amp;banner=10CFJZ8NBCZT0NPM6V02&amp;f=ifr&amp;linkID=be03e158e36932711c0fd7b61099a98e&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
                width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
                frameborder="0"></iframe>

        <iframe class="adBanner" id="desktopAdBanner2"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=48&amp;l=ur1&amp;category=primemusic&amp;banner=0WTZGS7B9MGVWTKJQHR2&amp;f=ifr&amp;linkID=55ab5788aebd39a385e18460aff16d9d&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
                width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
                frameborder="0"></iframe>

        <iframe class="adBanner" id="desktopAdBanner3"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=48&amp;l=ur1&amp;category=video&amp;banner=1H0VNHHMSAK4HH96YTR2&amp;f=ifr&amp;linkID=d04362f023846720c86fcf12d237d14a&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
                width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
                frameborder="0"></iframe>

        <iframe class="adBanner" id="desktopAdBanner4"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=48&amp;l=ur1&amp;category=ce&amp;banner=0NMM69180HDZTAHXRQG2&amp;f=ifr&amp;linkID=4297f90d7aabf825904a7e8f4df7682d&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
                width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
                frameborder="0"></iframe>

        <iframe class="adBanner" id="desktopAdBanner5"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=48&amp;l=ur1&amp;category=fire_tv&amp;banner=1B3DC73KQHVNEBES1KG2&amp;f=ifr&amp;linkID=f59d735b41b6dc4d91b1a7d7eb5fa66d&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
                width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
                frameborder="0"></iframe>

        <iframe class="adBanner" id="desktopAdBanner6"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=48&amp;l=ur1&amp;category=kindle&amp;banner=1R1GGCZ5P2HQ1BADQXG2&amp;f=ifr&amp;linkID=a91666043b2bb223c8cf939e46eb04e1&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
                width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
                frameborder="0"></iframe>

        <iframe class="adBanner" id="desktopAdBanner7"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=48&amp;l=ur1&amp;category=piv&amp;banner=1KBBZAT6W0H3QBGTQP82&amp;f=ifr&amp;linkID=130d4feeb87a13a031c5badd1d52987f&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
                width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
                frameborder="0"></iframe>

        <iframe class="adBanner" id="desktopAdBanner8"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=48&amp;l=ur1&amp;category=musical_instruments_dj&amp;banner=1Z7TQVW4FNK9SXPH6VG2&amp;f=ifr&amp;linkID=1a258e244608ccb6024e920e764141cb&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
                width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none; display:none;"
                frameborder="0"></iframe>

        <iframe class="adBanner" id="desktopAdBanner9"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=48&amp;l=ur1&amp;category=madeinitaly_uk&amp;banner=1CD48TA65TAGW3F04N82&amp;f=ifr&amp;linkID=acaaf7218e59a7b6c14be15372abf17e&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
                width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none; display:none;"
                frameborder="0"></iframe>

        <!-- Banner Ads end here -->
    </div>
</div>

<div style="margin-top: 2% !important;" class="container statsmenu">

    <div class="row">
        <div class="col-lg-3">
            <p align="left" style="color: #00DEB6; font-size: 26px;">Overview</p>
        </div>

        <div class="col-lg-3">
            <p align="center" class="pointBox"><i class="fa fa-square" style="color: #00ff00" aria-hidden="true"></i>
                <span th:text="${greenPoints + ' Green Points'}"></span></p>
        </div>

        <div class="col-lg-3">
            <p align="center" class="pointBox"><i class="fa fa-square" style="color: #ffff00" aria-hidden="true"></i>
                <span th:text="${yellowPoints + ' Yellow Cards'}"></span></p>
        </div>

        <div class="col-lg-3">
            <p align="center" class="pointBox"><i class="fa fa-square" style="color: #ff0000" aria-hidden="true"></i>
                <span th:text="${redPoints + ' Red Cards'}"></span></p>
        </div>
    </div>

    <div class="row">
        <div class="errorField2" th:if="${error}">
            <center>
                <p th:text="${errorMessage}" style="vertical-align: center;">This is an error message that spans on
                    multiple lines to see if design is screwed!</p>
            </center>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 3%">
    <center>
    <iframe height="400" scrolling="yes" style="background-color: white" src="https://talksport.com/talksport/rss_widget/" width="300"><a href="https://talksport.com/talksport/rss_widget/">Football premier league</a>on talkSPORT</iframe>
    </center>
</div>

<div class="container stadiumCard" style="margin-top: 3%">
    <iframe id="iframe-livescore-box" src="https://www.fctables.com/livescore_feed/66353b5d04a4146a915e1293d/" width="100%" height="3100" scrolling="yes" frameborder="0" onload="resizeIframe(this)"></iframe><script>window.addEventListener("DOMContentLoaded",function(){(function(){var a=window.addEventListener?"addEventListener":"attachEvent",b=window[a],c="attachEvent"==a?"onmessage":"message",d=document.getElementById("iframe-livescore-box");b(c,function(a){var b=JSON.parse(a.data);d.style.height=b.height+"px",console.log(b)},!1)})()},!1);</script>
</div>

<br/><br/>
<div class="justify-content-center row mobileNone">
    <!-- Banner Ads start here -->

    <!-- Mobile banner ads -->
    <iframe class="adBanner" id="mobileAdBanner1_down"
            src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=42&amp;l=ur1&amp;category=pcvideogames&amp;banner=15ZT0Y0XGWWEASSYT402&amp;f=ifr&amp;linkID=c041847958d8356f0c8e287e459273dc&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
            width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
            frameborder="0"></iframe>

    <iframe class="adBanner" id="mobileAdBanner2_down"
            src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=42&amp;l=ur1&amp;category=amazon_music_bounty&amp;banner=1E73VWE3S59WFW5AA9G2&amp;f=ifr&amp;linkID=d022fc1a22dff96dcae7dbe0d1afede5&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
            width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
            frameborder="0"></iframe>

    <iframe class="adBanner" id="mobileAdBanner3_down"
            src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=42&amp;l=ur1&amp;category=audible&amp;banner=1FE6S5JTMYJV58CZX3R2&amp;f=ifr&amp;linkID=2e30863ba10d2321e0a4c7931147efc8&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
            width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
            frameborder="0"></iframe>

    <iframe class="adBanner" id="mobileAdBanner4_down"
            src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=42&amp;l=ur1&amp;category=primemusic&amp;banner=1DFRJ7WZMYZ7X10EE582&amp;f=ifr&amp;linkID=710c73396d304bf3c5d5db2dd461fcb4&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
            width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
            frameborder="0"></iframe>

    <iframe class="adBanner" id="mobileAdBanner5_down"
            src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=42&amp;l=ur1&amp;category=fire_tv&amp;banner=1CHK3TDHWTK119GPDX02&amp;f=ifr&amp;linkID=2e48e6c0a46bff14677c2679195fe394&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
            width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
            frameborder="0"></iframe>

    <iframe class="adBanner" id="mobileAdBanner6_down"
            src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=42&amp;l=ur1&amp;category=fire_tablets&amp;banner=0SDWAAG80N17ZG67NP82&amp;f=ifr&amp;linkID=2f9fab30853591d4981e1772faf3cac6&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
            width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
            frameborder="0"></iframe>

    <iframe class="adBanner" id="mobileAdBanner7_down"
            src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=42&amp;l=ur1&amp;category=madeinitaly_uk&amp;banner=1YWRPGP922YKGSXCFWR2&amp;f=ifr&amp;linkID=6bed9a857f4ea45bc8f6ca3dedc3e6f8&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
            width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
            frameborder="0"></iframe>

    <iframe class="adBanner" id="mobileAdBanner8_down"
            src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=42&amp;l=ur1&amp;category=endless&amp;banner=0FE5FXZ1XS963HCPPW82&amp;f=ifr&amp;linkID=24dae83e98f2cf1f91d0920a1ffc9091&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
            width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
            frameborder="0"></iframe>

    <iframe class="adBanner" id="mobileAdBanner9_down"
            src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=42&amp;l=ur1&amp;category=amazon_student&amp;banner=0J4KQS4Z1HXSVRFFT382&amp;f=ifr&amp;linkID=1f3bd0411ec13e8ad0b2c540f579e232&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
            width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
            frameborder="0"></iframe>

    <!-- Desktop banner ads -->
    <iframe class="adBanner" id="desktopAdBanner1_down"
            src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=48&amp;l=ur1&amp;category=consumerelectronics&amp;banner=10CFJZ8NBCZT0NPM6V02&amp;f=ifr&amp;linkID=be03e158e36932711c0fd7b61099a98e&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
            width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
            frameborder="0"></iframe>

    <iframe class="adBanner" id="desktopAdBanner2_down"
            src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=48&amp;l=ur1&amp;category=primemusic&amp;banner=0WTZGS7B9MGVWTKJQHR2&amp;f=ifr&amp;linkID=55ab5788aebd39a385e18460aff16d9d&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
            width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
            frameborder="0"></iframe>

    <iframe class="adBanner" id="desktopAdBanner3_down"
            src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=48&amp;l=ur1&amp;category=video&amp;banner=1H0VNHHMSAK4HH96YTR2&amp;f=ifr&amp;linkID=d04362f023846720c86fcf12d237d14a&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
            width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
            frameborder="0"></iframe>

    <iframe class="adBanner" id="desktopAdBanner4_down"
            src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=48&amp;l=ur1&amp;category=ce&amp;banner=0NMM69180HDZTAHXRQG2&amp;f=ifr&amp;linkID=4297f90d7aabf825904a7e8f4df7682d&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
            width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
            frameborder="0"></iframe>

    <iframe class="adBanner" id="desktopAdBanner5_down"
            src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=48&amp;l=ur1&amp;category=fire_tv&amp;banner=1B3DC73KQHVNEBES1KG2&amp;f=ifr&amp;linkID=f59d735b41b6dc4d91b1a7d7eb5fa66d&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
            width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
            frameborder="0"></iframe>

    <iframe class="adBanner" id="desktopAdBanner6_down"
            src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=48&amp;l=ur1&amp;category=kindle&amp;banner=1R1GGCZ5P2HQ1BADQXG2&amp;f=ifr&amp;linkID=a91666043b2bb223c8cf939e46eb04e1&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
            width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
            frameborder="0"></iframe>

    <iframe class="adBanner" id="desktopAdBanner7_down"
            src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=48&amp;l=ur1&amp;category=piv&amp;banner=1KBBZAT6W0H3QBGTQP82&amp;f=ifr&amp;linkID=130d4feeb87a13a031c5badd1d52987f&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
            width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;display:none;"
            frameborder="0"></iframe>

    <iframe class="adBanner" id="desktopAdBanner8_down"
            src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=48&amp;l=ur1&amp;category=musical_instruments_dj&amp;banner=1Z7TQVW4FNK9SXPH6VG2&amp;f=ifr&amp;linkID=1a258e244608ccb6024e920e764141cb&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
            width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none; display:none;"
            frameborder="0"></iframe>

    <iframe class="adBanner" id="desktopAdBanner9_down"
            src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&amp;p=48&amp;l=ur1&amp;category=madeinitaly_uk&amp;banner=1CD48TA65TAGW3F04N82&amp;f=ifr&amp;linkID=acaaf7218e59a7b6c14be15372abf17e&amp;t=topbantz2018-21&amp;tracking_id=topbantz2018-21"
            width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none; display:none;"
            frameborder="0"></iframe>

    <!-- Banner Ads end here -->
</div>

<!-- Footer -->
<footer class="text-center" style="margin-top: 10%;">
    <div class="footer-above">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h3>Social Media</h3>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="https://plus.google.com/u/0/105657970600756533313">
                                <i class="fa fa-fw fa-google-plus"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="https://twitter.com/TopMenTP">
                                <i class="fa fa-fw fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="https://www.facebook.com/TMTPSS">
                                <i class="fa fa-fw fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="https://www.linkedin.com/company/top-bantz/">
                                <i class="fa fa-fw fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="mailto:topbantzcontact@gmail.com" target="_top">
                                <i class="fa fa-fw fa-envelope"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Top Bantz 2017
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    Top Bantz Does Not Tolerate Any Form of Racism or Discrimination
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top d-lg-none">
    <a class="btn btn-primary page-scroll" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Top Bantz Rules &amp; Regulations</h4>
            </div>
            <div class="modal-body">
                <h2>Rules</h2>
                <p>About Us<br />
                    On behalf of TopBantz, we would like to welcome and thank you for choosing<br />
                    our app. We would like to keep this app as sports related with positive banter<br />
                    and messages. Our aim is to treat all members equal, happy and entertained at<br />
                    all times.<br />
                    We appreciate your interest in being a part of one of the worlds newest and<br />
                    exciting Sports App available to download.</p>

                <p>Disciplinary Actions<br />
                    Yellow Card Offences:<br />
                    This will be issued if a member within the forum has been disrespectful and used<br />
                    offensive language including behaviour. All yellow cards are upheld for 7 days<br />
                    which are treated as warnings, if another yellow is accumulated, it then will<br />
                    become an automatic red.</p>

                <p>Red Card Offences:<br />
                    We do not promote any form of discrimination, prejudice or bullying, this<br />
                    includes racial,violent and religious hatred. We will not tolerate the use of<br />
                    nudity and sexual content, images of killing and targeted personal abusive<br />
                    behaviour.</p>

                <p>A Red Card will be issued if any of the above offences is committed, this will<br />
                    block a user from using all services on the app for a period of time at the<br />
                    discretion of the boardroom. Grey areas will not be accepted, failure to adhere<br />
                    to the rules and regulations will result in removal from the app permanently.<br />
                    If however, a user is unhappy regarding a decision made from the boardroom;<br />
                    please see Terms and Conditions section Confidentiality and Appeals.</p>

                <p>Terms and Conditions<br />
                    Confidentiality<br />
                    If a user is not happy with a situation and would like to talk privately. Please<br />
                    feel free to contact a Member of the Board by email. Your name will remain<br />
                    anonymous about the topic of what you have heard or seen and the Board will<br />
                    address the matter. Your right to remain anonymous will be upheld.</p>

                <p>Appeals<br />
                    If you wish to appeal against a decision you have 5 working days from the<br />
                    day you have received a card.<br />
                    Board Members may consider your appeal when lodged, we will get back<br />
                    to you within 3 days. If your appeal is unsuccessful and the Board thinks that<br />
                    you do not have a good enough reason, then you may be liable for extra days<br />
                    on your ban.</p>

                <p>Topbantz would like to take this time to thank all our users for their support,<br />
                    the Board want you to have an enjoyable experience.</p>


                <h2>FAQ</h2>

                <p>TOP BANTZ APP</p>

                <p>1. Creating A New Account<br />
                    &bull; Fill out all the necessary fields in the text boxes<br />
                    &bull; Ensure that username is between 6 to 32 characters long<br />
                    &bull; Email follows general @email.com format<br />
                    &bull; User remembers their username is case sensitive<br />
                    2. Logging-In<br />
                    &bull; Check if you have inputted your username correctly (upper case letters haven&rsquo;t been used<br />
                    where lower-case letters were inputted)<br />
                    &bull; Ask an admin If you been banned or not<br />
                    3. Uploading a New Video<br />
                    &bull; Manually upload your video onto YouTube using the &lsquo;Upload Feature&rsquo;<br />
                    &bull; Copy the video&rsquo;s web address (URL). Eg: https://www.youtube.com/watch?v=z_rH<br />
                    &bull; Paste into the YouTube URL box on the Create New Post option<br />
                    &bull; Add a description and Upload<br />
                    4. Problems Uploading a New Video<br />
                    &bull; Ensure URL has been correctly copied including the https://<br />
                    &bull; Ensure video is actually from YouTube<br />
                    &bull; Ensure you scroll down to see your video<br />
                    5. Stadiums, Kits and Images<br />
                    &bull; Check if you have an internet connection<br />
                    &bull; Enable browser cookies from browser settings<br />
                    &bull; Enable flash from browser settings<br />
                    &bull; Try to refresh the page</p>

                <p>6. Earning and Spending Green Points<br />
                    &bull; Points are earned for positive posts on the app<br />
                    &bull; Every 100 likes on a post gives you 1 Green-Point automatically<br />
                    &bull; Can be spent on items in the merchandise store<br />
                    &bull; Green points can also be purchased via deals on the merchandise page</p>

                <p>7. Yellow Card / Red Card<br />
                    &bull; Cards are given for negative behavior on the app including but not limited to offensive<br />
                    language and content<br />
                    &bull; A yellow card is given for a minor offence</p>

                <p>&bull; 2 yellow cards automatically convert into a red card and you are banned from the app for 3<br />
                    days<br />
                    &bull; After the match ban is over, you will be able to login to the app as normal</p>

                <p>8. Microphone Problems on Discord<br />
                    &bull; Check if you are using a microphone and it is plugged in and connected<br />
                    &bull; &ldquo;Allow&rdquo; app to record voice<br />
                    &bull; &ldquo;Allow&rdquo; app to record video<br />
                    &bull; Open Discord and make sure you haven&rsquo;t set their microphone to mute<br />
                    &bull; Make sure you are actually in a lobby, if you are; your name will appear in the lobby<br />
                    participants list.</p>

                <p>9. Uploading Media onto Discord<br />
                    &bull; Make sure you &ldquo;Allow&rdquo; for Discord to access the user&rsquo;s gallery<br />
                    &bull; Make sure you haven&rsquo;t already posted the same image<br />
                    &bull; Make sure you have a stable internet connection</p>

                <p>10. Uploading Medio onto Top Bantz App<br />
                    &bull; Make sure the video came from YouTube<br />
                    &bull; Make sure it follows the link type: www.youtube.com/videolink<br />
                    11. Locating Your VIP Lobby<br />
                    &bull; Go to your home page and access the VIP lobby from the box to the left-hand side.</p>

                <p>12. 3-D Stadium Navigation<br />
                    &bull; Use your mouse and up, down, left, right keys on their keypad to navigate around the<br />
                    stadium</p>

                <p>Discord<br />
                    1. Personal Message Another User<br />
                    &bull; Left Click on user&rsquo;s profile photo or name until an information box comes up<br />
                    &bull; Write personal message in the box<br />
                    &bull; Press Enter to send<br />
                    2. See Who Else Is Online<br />
                    &bull; Check right hand side column to see all users who are either online or offline</p>

                <p>3. Switching Between Voice Banter Lobbies<br />
                    &bull; Know which lobby you are in by observing your name under the lobby&rsquo;s name<br />
                    &bull; Click on whichever lobby you want to go on by selecting it with your mouse<br />
                    4. Create A New Private Channel<br />
                    &bull; Press the + icon on the let hand side of the screen on the navbar<br />
                    &bull; Adjust the settings and the server is created</p>

                <p>5. How to Start a Video Call with People (9 People Max)<br />
                    &bull; Press the &ldquo;Friends&rdquo; Icon on the top left-hand corner of the screen<br />
                    &bull; Click &ldquo;All&rdquo; to see all friends<br />
                    &bull; Hover over a friend&rsquo;s name until it turns grey<br />
                    &bull; Press the video call option<br />
                    &bull; To add up to 8 more friends onto the call, press this button and add friends by their<br />
                    username</p>

                <p>6. Invite Friends Who Are Not on Discord<br />
                    &bull; Click on the bottom pointing arrow to bring up the lobby settings<br />
                    &bull; Click on &ldquo;Invite People&rdquo;, copy the link and send to friends</p>

                <p>7. Accessing User Settings<br />
                    &bull; Click on the gear icon on the bottom left hand side of the screen</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script src="../static/vendor/popper/popper.min.js" th:src="@{/vendor/popper/popper.min.js}"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Contact Form JavaScript -->
<script src="../static/js/jqBootstrapValidation.js" th:src="@{/js/jqBootstrapValidation.js}"></script>
<script src="../static/js/contact_me.js" th:src="@{/js/contact_me.js}"></script>

<!-- Custom scripts for this template -->
<script src="../static/js/freelancer.min.js" th:src="@{/js/freelancer.min.js}"></script>
<script src="../static/js/login.js" th:src="@{/js/login.js}"></script>

<script>
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
</script>
<!--<script type="text/javascript">-->
<!--var images = ['1.jpg', '2.jpg', '3.jpg', '4.jpg', '5.jpg', '6.jpg', '7.jpg', '8.jpg', '9.jpg', '10.jpg'];-->
<!--$('body').css({'background-image': 'url(/img/background/' + images[Math.floor(Math.random() * images.length)] + ')'});-->
<!--</script>-->

<script>
    var randNoMobile = -1;
    var randNoDesktop = -1;
    var randNoMobile_down = -1;
    var randNoDesktop_down = -1;

    $(document).ready(function () {
        randNoMobile = Math.floor((Math.random() * 9) + 1);
        randNoDesktop = Math.floor((Math.random() * 9) + 1);
        randNoMobile_down = Math.floor((Math.random() * 9) + 1);
        randNoDesktop_down = Math.floor((Math.random() * 9) + 1);

        var startWidth = $(window).width();
        if (Math.min(startWidth, 800) !== 800) {
            $('#mobileAdBanner' + randNoMobile).show();
            $('#mobileAdBanner' + randNoMobile_down + "_down").show();
            $('.top-ads-container').css('marginTop', '15%');
        } else {
            $('#desktopAdBanner' + randNoDesktop).show();
            $('#desktopAdBanner' + randNoDesktop_down + "_down").show();
            $('.top-ads-container').css('marginTop', '10%');
        }
    });

    $(window).resize(function () {
        if (randNoMobile == -1) {
            randNoMobile = Math.floor((Math.random() * 9) + 1);
        }
        if (randNoDesktop == -1) {
            randNoDesktop = Math.floor((Math.random() * 9) + 1);
        }
        if (randNoMobile_down == -1) {
            randNoMobile_down = Math.floor((Math.random() * 9) + 1);
        }
        if (randNoDesktop_down == -1) {
            randNoDesktop_down = Math.floor((Math.random() * 9) + 1);
        }
        $('.adBanner').hide();
        var startWidth = $(window).width();
        if (Math.min(startWidth, 800) !== 800) {
            $('#mobileAdBanner' + randNoMobile).show();
            $('#mobileAdBanner' + randNoMobile_down + "_down").show();
            $('.top-ads-container').css('marginTop', '15%');
        } else {
            $('#desktopAdBanner' + randNoDesktop).show();
            $('#desktopAdBanner' + randNoDesktop_down + "_down").show();
            $('.top-ads-container').css('marginTop', '10%');
        }
    });
</script>

</body>

</html>
